---
title: Solo Trail Cup 2020
bodyclass: newproject
layout: layout-2020
---

%section#main
  :markdown
    # Inov-8 Solo Trail Cup 27.4.-31.5.

    Koronasta ja kokoontumisrajoituksista johtuen varsinainen Inov-8 Trail Cup on siirretty syksymmälle ja sen tilalla järjestetään Inov-8 Solo Trail Cup, jonka tapahtumat juostaan viikon aikana oman aikataulun mukaan. Reitit ovat tavanomaista selvästi kevyemmin merkityt ja osanottajille suositellaan kartan tai matkapuhelimen mukaan ottamista. Tarjoamme myös reittien gpx-tiedostot halukkaille osallistujille virtuaalisen reittiopastuksen virittämiseksi. Kaikki ohjeet alla:

    ## Tapahtumat ja reitit

    Tapahtumat juostaan samoilla reiteillä kuin varsinainen Inov-8 Trail Cup myöhemmin kesällä, joten tapahtumasarja tarjoaa osallistujilleen oivan mahdollisuuden tutustua reitteihin etukäteen.

    1. Kauppi 27.4.-3.5. • [Reitti](/images/2020/kauppi2020.jpg) • [GPX-tiedosto](/2020/gpx/kauppi.gpx) • [Strava-segmentti](https://www.strava.com/segments/23499360)
    2. Suolijärvi 4.-10.5. • [Reitti](/images/2020/suolijarvi2020.jpg) • [GPX-tiedosto](/2020/gpx/suolijarvi.gpx) • [Strava-segmentti](https://www.strava.com/segments/23186451)
    3. Lamminpää 11.-17.5. • [Reitti](/images/2020/lamminpaa2020.jpg) • [GPX-tiedosto](/2020/gpx/lamminpaa.gpx) • [Strava-segmentti](https://www.strava.com/segments/14899191)
    4. Kyötikkälä 18.-24.5. • [Reitti](/images/2020/kyotikkala2020.jpg) • [GPX-tiedosto](/2020/gpx/kyotikkala.gpx) • [Strava-segmentti](https://www.strava.com/segments/23567881)
    5. Niihama 25.-31.5. • [Reitti](/images/2020/niihama2020.jpg) • [GPX-tiedosto](/2020/gpx/niihama.GPX) • [Strava-segmentti](https://www.strava.com/segments/15093592)

    ## Osallistuminen ja palkinnot

    Osallistuakseen tapahtumiin osallistujan ei tarvitse ilmoittautua mitenkään. Osallistuminen on omalla vastuulla. Reitit ovat kaikille avoimet kierrettäviksi ja kevyesti merkatut yllä olevina ajankohtina. Järjestäjät ovat kuitenkin kiitollisia kaikista sosiaalisen median päivityksistä hashtagilla #inov8trailcup. Lisäjännitystä osallistumiseen tuo aina maanantaisin arvottavat inov-8 tuotepalkinnot kaikkien edeltävällä viikolla osallistumisestaan somettaneiden kesken. Muista lisätä päivitykseesi virallinen aihetunniste #inov8trailcup. Arvontaan mukaan hyväksymme seuraavat sosiaalisen median kanavat:

    -        Instagram (päivitys, EI tarina)
    -        Twitter
    -        Facebook

    ## Merkkaus

    Muiden poluilla liikkuvien huomioimiseksi ja mahdollisen ilkivallan minimoimiseksi reitit ovat perinteistä Inov-8 Trail Cupia huomattavasti kevyemmin merkatut. Pyrimme krepittämään risteyspaikat ja mahdolliset muut epäselvät kohdat, mutta ”suorille” pätkille emme merkkejä aseta. Järjestäjillä ei valitettavasti ole myöskään resursseja tarkastaa reittejä päivittäin. Mahdollisista puutteista merkkauksessa voi raportoida sähköpostilla. Pyrimme korjaamaan merkkausta tarvittaessa.

    ## Gps-opastus

    Monet sykemittarit tarjoavat käyttäjilleen mahdollisuuden asettaa virtuaalisen reittiopastuksen. Järjestelyorganisaation omakohtaisten kokemusten mukaan nämä opastukset toimivat erinomaisesti myös poluilla, mistä syystä haluammekin tarjota gpx-tiedostot osallistujille ladattaviksi. Ohjeita virtuaalisen reittiopastuksen asettamisesta omaan sykemittariinsa löytyy helposti googlettamalla. Ohjeet ovat laite- ja mallikohtaisia, joten emme ole niitä tähän keränneet. Jos kaipaat apua reittiopastuksen asettamisessa, ota rohkeasti yhteyttä.

    ##  Strava

    Kaikkien Strava-käyttäjien iloksi kaikki Inov-8 Trail Cup -reitit löytyvät nyt myös segmentteinä Stravasta. Lisäksi olemme lisänneet muutamat mielenkiintoisimmat segmentit reittien varrelta omiksi segmenteikseen. Näin ollen kaikkien Strava-käyttäjien on helppo seurata omaa kehittymistään Inov-8 Trail Cup -reiteillä vuosien varrelta ja vuosiksi eteenpäin. Muistathan, että vanhojen suoritusten lisääminen Stravaan onnistuu jälkikäteen myös manuaalisesti. Joten, mikäli aikaisemmilta vuosilta suoritus on jossain palvelussa tallessa, voi sitä kätevästi verrata myös jälkikäteen.
