---
title:     Stage 4, 17.5., Suolijärvi
bodyclass: newproject
---

%section#main
  %h1 Stage 4, 17.5., Suolijärvi

  / %ul
  /   %li== #{link_to "Tulokset", "https://events.navigeist.com/fi/events/2/legs/9/results"}
  /   %li= link_to "Kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157652700049450"

  :markdown
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JqhQV7LB2As" frameborder="0" allowfullscreen></iframe>

  %p
    Cupin neljäs osakilpailu päästää kilpailijansa Suolijärven hiihto- ja avantouintipyhätön maastoihin. Löydät matkalta niin komeaa ikimetsää, avosuota kuin jylhiä kallioitakin.

  :markdown

    **Paikka:** Kilpailu kilpaillaan Suolijärven majalla, osoite: [Suolijärvenkatu 7, Tampere](https://www.google.fi/maps/place/Suolij%C3%A4rvenkatu+7/@61.443763,23.8349998,302m/data=!3m2!1e3!4b1!4m2!3m1!1s0x468edfad647354f5:0x57d4014956996a42)

    **Aika:** Tiistaina 17.5.2016. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Parkista on matkaa kilpailukeskukseen muutamia satoja metrejä.

    **Suihku-, pukeutumis-, ja wc-tilat:** Kilpailijoiden käytössä on Suolijärven majan suihku-, pukeutumis-, ja wc-tilat.

  %h2 Reittikuvaus

  :markdown
    Kilpailureitti on 6,9 km pitkä ja kulkee Suolijärven kauniissa ja vaihtelevissa maastoissa. Reitistä 1600 metriä edetään hyväpohjaisia ulkoilureittejä pitkin ja loput 5300 metriä vaihtelevilla poluilla. Nousua reitille kertyy kokonaisuudessaan 93 metriä, mutta reitti sisältää myös pitkiä yhtenäisiä ja varsin tasaisia polkupätkiä Suolijärven rantaviivaa seuraillen.

    Kilpailun lähtö tapahtuu Suolijärven ulkoilumajan ja uimarannan välittömästä tuntumasta. Ensimmäiset 750 metriä matkasta taitetaan nopeaa sorapohjaista ulkoilureittiä pitkin. Sangen vaativa alkunousu saa porukan venymään jonomuodostelmaan, jossa vajaan kilometrin alkukiihdytyksen jälkeen siirrytään pienemmille kulku-urille.

    Muutos juoksu-alustassa tulee olemaan polulle siirryttäessä varsin merkittävä. Ensimmäisten kymmenien metrien matkalla polku levittäytyy juoksijan eteen melko kivikkoisena, mistä syystä kaikkien kilpailijoiden kannattaa tällä kohdin noudattaa varovaisuutta. Polun kulkukelpoisuus kuitenkin paranee nopeasti ja edessä on reilun 600 metrin laskettelu loivaan alamäkeen Särkijärven rantaan.

    Reitti seurailee juurakkoista polkua Särkijärven rantaviivaa kohti etelää 250 metriä, jonka jälkeen se taittaa hieman leveämmälle ja parempipohjaiselle uralle Suoliojan varteen. Suoliojaa seurailevaa ja ohituksetkin mahdollistavaa polkua edetään vain hieman toistasataa metriä, jonka jälkeen oja ylitetään ulkoilureitin jykevää siltaa pitkin. Leveää ulkoilureittiä ei kuitenkaan juosta kuin muutamia kymmeniä metrejä; nimittäin välittömästi ojan ylityksen jälkeen kaarretaan terävästi vasemmalle kohti Suolijärveä.

    Suolijärveä lähestyttäessä polku koostuu hetkellisesti pitkospuista, jotka saattavat märällä kelillä olla erittäin liukkaat, mutta kuivalla säällä äärimmäisen nopeat edetä. Rantaviivaa seuraileva polku on pääosin nopeaa, ja runsaasta käytöstä johtuen moninpaikoin varsin leveäkin. Kaiken kaikkiaan Suolijärven rantaa seuraillaan kilometrin verran, johon mahtuu yksi lyhyt ylä- ja alamäki. Kilometrin jälkeen juoksijoita odottaa lyhyt, mutta jyrkkä, hieman portaitakin sisältävä, nousu, jonka päällä siirrytään hetkellisesti juoksemaan ohitukset mainiosti mahdollistavalle ulkoilureitille.

    Latupohjaa lasketellaan alamäkeen reilut kaksisataa metriä, minkä jälkeen taitetaan sillan jälkeen jyrkästi vasemmalle seurailemaan jälleen Suolijärven kaunista rantapolkua. Rantaviivaa myötäillään lähes puolitoista kilometriä, ja matkalle osuu jälleen kerran yksi lyhyt ylä- sekä alamäki. Polku on moninpaikoin pienistä pohjustustöistäkin johtuen nopea, ja kauniin järvimaiseman ansiosta todella mielekäs, edetä.

    Pitkälti toista kilometriä rantaviivaa seurailtuaan kilpailija saapuu noin viiden kilometrin juoksun jälkeen kilpailukeskuksen läheisyyteen vain ohittaakseen maalialueen ennen loppulenkille siirtymistä. Tämä hetki on osanottajan henkilökohtaisille kannustusjoukoille oiva mahdollisuus antaa läheiselleen lisävoimia viimeisille kilometreille.

    Loppulenkki alkaa Suolijärven rantapolkua myötäillen. Noin kilometrin matkan osanottajat taittavat järven rantaa suhteellisen helppokulkuista polkua pitkin, minkä jälkeen on edessä todella vaativa ja samalla kilpailun viimeinen nousu kapeaa polkua pitkin 35 metriä järvenpintaa korkeammalla sijaitsevalle huipulle. Huipulta kilpailijat seurailevat levenevää polkua pitkin mäen päällystää kohti kisakeskusta. Nelisensataa metriä ennen maalia reitti kaartaa samaiselle ulkoilureitille, jota pitkin kilpailijat hetkeä aiemmin hyvin pian lähtöluvan saatuaan jo juoksivat. Leveää ja nopeaa latupohjaa lasketellaan kohti Suolijärven majaa, jonka välittömässä läheisyydessä maaliviivalla ratkeavat lopulliset sijoitukset.

    ### Reittikartta

    ![Suolijärven reittikartta](/images/suolijärven-maja-2015-kartta.jpg)

    ### Rataprofiili

    ![Suolijärven korkeusprofiili](/images/suolijärven-maja-2015-korkeusprofiili.jpg)