---
title:     Ilmoittautuminen
bodyclass: newproject
layout: layout-2017
---

%section#main
  %h1 Ilmoittautuminen

  :markdown 
    *[Ilmoittaudu kisoihin täällä](http://events.navigeist.com/events/7/registrations/new).*
    Saat ilmoittautumisen jälkeen maksuohjeet.

    Voit ilmoittautua myös sähköpostitse osoitteeseen info@trailcup.fi.
    Laita viestiin seuraavat tiedot:

    * Nimi
    * Joukkue
    * Sarja (Miehet, naiset, kunto)
    * Osakilpailu, johon haluat ilmoittautua (muista, että saat koko sarjan viiden osakilpailun hinnalla)