---
title:     Ilmoittautuminen
layout: kauppi-trail
---

%section#main
  %h1 Ilmoittautuminen

  :markdown
    *[Ilmoittaudu kisoihin täällä](http://events.navigeist.com/events/6/registrations/new).* Saat ilmoittautumisen jälkeen maksuohjeet.

    Voit ilmoittautua myös sähköpostitse osoitteeseen kauppitrail@trailcup.fi. Laita viestiin seuraavat tiedot:

    * Nimi
    * Joukkue
    * Sarja (Miehet, naiset, kunto, 21/10 km)