---
title:     Ilmoittautuminen
bodyclass: newproject
layout: layout-2020
---

%section#main
  %h1 Ilmoittautuminen

  :markdown
    *[Ilmoittaudu kisoihin t채채ll채](http://events.navigeist.com/events/10/registrations/new).* Saat ilmoittautumisen j채lkeen maksuohjeet.
