//
// Magic (Responsive) Susy Grid System
//

$show-grid-backgrounds: true

@import "susy"

// For full Susy documentation, visit: http://susy.oddbird.net/tutorial/

// Define mobile-first grid constants.
$total-columns      : 6
// You can use ems, px or % to define the grid.
$column-width       : 60px
$gutter-width       : 20px
$grid-padding       : $gutter-width / 2

// Uncomment to make the grid fluid (w/ a max-width)
// $container-style: fluid
// .container
//   max-width: 1380px

// Define breakpoints, in this case when there's room for the specified columns.
$break-tablet:   8
$break-desktop: 12
$break-huge:    16

.container
  // Include `container` if this element will contain a grid system.
  @include container($total-columns)
  // Apply our grid background stripes for development.
  //@include susy-grid-background

header, #main-content, #main, footer
  // Clearfix for full-width elements
  @include clearfix

  h1
    @include span-columns(4 omega, 8)

// Automatically reset the grid width & re-apply the grid background
// to responsive layouts.
$layouts: $break-tablet, $break-desktop, $break-huge
@each $layout in $layouts
  @include at-breakpoint($layout)
    .container
      @include set-container-width
      //@include susy-grid-background

@include at-breakpoint($break-tablet)
  #main
    @include span-columns(8)
    #description
      @include span-columns(4, 8)
    #schedule
      @include span-columns(4 omega, 8)
    #details
      @include span-columns(8)

@include at-breakpoint($break-desktop)
  #main
    @include span-columns(10, 12)
    @include prefix(1)
    @include suffix(1)
    #description
      @include span-columns(5, 10)
    #schedule
      @include span-columns(5 omega, 10)


@include at-breakpoint($break-huge)
  #main
    @include span-columns(12, 16)
    @include prefix(2)
    @include suffix(2)
    #description
      @include span-columns(6, 12)
    #schedule
      @include span-columns(6 omega, 12)





