---
title:     Navigeist-stage, Lukonmäki
bodyclass: newproject
---

%section#main
  %h1 Navigeist-stage, 20.5., Hervannan laskettelukeskus
  
  %p
    Kolmannessa osakisassa karavaani siirtyy Herwoodin alpeille Etelä-Tampereelle. Poikkeuksellisen syvä kanjoni erottaa Hervannan muusta kaupungista, ja tätä luonnonoikkua pääsemmekin ihastelemaan ja tuskastelemaan koko rahan edestä.
    
  :markdown
  
    ## Reittikuvaus
    
    Kolmannessa osakilpailussa polkujuoksusarja siirtyy Herwoodin Alpeille eli Tampereen Lukonmäkeen. Kilpailukeskus sijaitsee Hervannan laskettelukeskuksessa. Hervannan laskettelurinteillä on korkeutta 59 metriä mutta juoksijoita säästetään kovimmilta nousuilta ja reitti suuntautuukin kanjonin sillan alitse kohti Hallilan haastavia metsäpolkuja. Kipailukeskuksesta avautuva maisema saattaa hämätä juoksijaa sillä reitillä on nousua ainoastaan 122m, haasteet löytyvät enimmäkseen juoksutekniseltä puolelta. Lukonmäen poluilta löytyy niin kivikkoisia kuin juurakkoisia erittäin teknisiä polkuja. Reitiltä löytyy myös hyväkulkuisia ja nopeita pätkiä. Reitin pituus on melko tarkalleen 6 kilometriä.

    Trail Cupille ominaiseen tapaan reitin alussa on lyhyt pätkä hiihtolatua josta juoksijat saadaan ajettua jonossa metsäpolulle. Heti alkuun juoksijoita hemmotellaan erittäin haastavalla kivipolulla jossa on tärkeää tarkkailla mihin jalkansa laittaa. Reitti seurailee voimalinjan reunassa kulkevaa varsin vaihtelevaa polkua.

    Sen jälkeen reitti ylittää Hallila-Suolijärvi hiihtoladun ja jatkaa voimalinjan reunaa aina Pehkusuolta laskevalle ojalle. Tämän jälkeen reitti lähtee nousemaan loivaa nousua kohti Pehkusuota, lopulta kiertäen Pehkusuon toiselle puolelle.

    Sieltä reitti nousee seitsemän metrin nousun mäen päälle ja laskee jyrkän ja haastavan laskun lähelle Karkunvuoren tunnelin koillispäätä. Siitä lähdetään pitkään ja loivaan nousuun jossa on tärkeää pitää askel mahdollisimman rentona, mutta vauhti kovana. Mäen alla odottaa suo, jonka juoksijat ylittävät. Suon takana käännetään takaisin pitkään nousuun joka päättyy reitin korkeimpaan kohtaan. Nousulla on korkeuseroa yhteensä 20 metriä.

    Mäeltä lasketellaan kohti voimalinjaa ja käväistään juoksemassa lyhyt pätkä hiihtolatua. Tässä kohtaa on helppo tehdä ohituksia. Kauaa ei hiihtolatua juosta, vaan pian reitti kääntyy vasemmalle ja aletaan nousemaan loivaa nousua tiheikön piirittäessä polkua. Reitti kulkee vinorinteessä ja saapuu jälleen Hallila-Suolijärvi hiihtoladulle. Hiihtolatua seuraillaan muutamia kymmeniä metrejä. Sen jälkeen taitetaan jälleen kohti kanjonin siltaa. Reitti kulkee nopeaa polkua joka vaikeutuu salakavalasti ja lopulta lasketaan jyrkkä rinne kivikossa kohti Lukonmäeltä saapuvaa hiihtolatua. Hiihtolatu ylitetään ja noustaan hapottava nousu josta lasketaan Hervannan mäkihyppymäen montun vierestä kulkevaa polkua kohti laskettelukeskusta. Sitten enää viimeinen nousu ja sitä seuraava lasku ja maaliviiva häämöttää.