---
title:     Navigeist-stage, Lamminpää – Inov-8 Tampere Trail Cup
bodyclass: newproject
---

%section#main
  %h1 Navigeist-stage, 20.5., Hervannan laskettelukeskus
  
  %p
    Kolmannessa osakisassa karavaani siirtyy Herwoodin alpeille Etelä-Tampereelle. Poikkeuksellisen syvä kanjoni erottaa Hervannan muusta kaupungista, ja tätä luonnonoikkua pääsemmekin ihastelemaan ja tuskastelemaan koko rahan edestä.