---
title:     Gopal-stage, Kaupin urheilupuisto
bodyclass: newproject
layout: layout-2014
---

%section#main
  %h1 Gopal-stage, 13.5., Kauppi

  %p
    Toisessa osakisassa Trail Cup siirtyy aivan keskustan kupeeseen Kaupin urheilupuistoon. Harjumaasto vaihtuu Näsijärven rantakallioihin ja joskus juurakkoisiinkin -polkuihin.
  
  :markdown
    
    **Paikka:** Kilpailu kilpaillaan Kaupin urheilupuistossa, osoite: [Kuntokatu 5, Tampere](https://www.google.fi/maps/place/Kaupin+Urheilupuisto/@61.504892,23.8151543,16z/data=!4m2!3m1!1s0x0:0xd5101530e6141b3d)

    **Aika:** Tiistaina 13.5.2014. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Parkki:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Parkista on matkaa kilpailukeskukseen muutamia satoja metrejä.

    **Suihku-, pukeutumis-, ja wc-tilat:** Kilpailijoiden käytössä on Kaupin vanhan huoltorakennuksen suihku-, pukeutumis-, ja wc-tilat.

    **Muuta:** Kilpailukeskuksessa myydään laadukkaita Inov-8-jalkineita.
    
    ### Reittikuvaus
    
    Trail Cupin toinen osakilpailu käydään Kaupin urheilupuistossa aivan Tampereen keskustan kupeessa. Reitti on 5,5 km pitkä ja noususumma on 98 metriä.

    Reitti lähtee Kaupin jalkapallokenttien vierestä ja kulkee ensin latu-uraa mahdollistaen sujuvan juoksun yhteislähdön jälkeen. UKK-instituutin tienoolla reitti syöksyy pienemmälle polulle joka suuntaa kohti Näsijärven rantaa. Rannassa polku käy juurakkoiseksi tarjoten sopivaa haastetta ketterimmällekin osallistujalle. Reitti etenee rannasta Pirunvuorelle, jonka huippu kierretään hyväpohjaista metsäpolkua myöten. Tuomikalliolle suunnatessa pääsee kokemaan polkujuoksun todellista aatelia kun polku kulkee pitkin kauniita avokallioita. Tuomikallion jälkeen reitti palaa hyväkulkuista polkua pitkin jalkapallokenttien viereen ja loppukiri juostaan pitkin latu-uraa.
    
    ### Reittikartta
    
    ![Kaupin reittikartta](/images/kauppi-reittikartta-small.png)
    
    ### Rataprofiili
    
    ![Kaupin korkeusprofiili](/images/korkeusprofiilit-kauppi.png)
    