---
title:     Gopal-stage, Kaupin urheilupuisto
bodyclass: newproject
---

%section#main
  %h1 Gopal-stage, 13.5., Kauppi

  %p
    Toisessa osakisassa Trail Cup siirtyy aivan keskustan kupeeseen Kaupin urheilupuistoon. Harjumaasto vaihtuu Näsijärven rantakallioihin ja joskus juurakkoisiinkin -polkuihin.
  
  :markdown
    
    ### Reittikuvaus
    
    Trail Cupin toinen osakilpailu käydään Kaupin urheilupuistossa aivan Tampereen keskustan kupeessa. Reitti on 5,5 km pitkä ja noususumma on 98 metriä.

    Reitti lähtee Kaupin jalkapallokenttien vierestä ja kulkee ensin latu-uraa mahdollistaen sujuvan juoksun yhteislähdön jälkeen. UKK-instituutin tienoolla reitti syöksyy pienemmälle polulle joka suuntaa kohti Näsijärven rantaa. Rannassa polku käy juurakkoiseksi tarjoten sopivaa haastetta ketterimmällekin osallistujalle. Reitti etenee rannasta Pirunvuorelle, jonka huippu kierretään hyväpohjaista metsäpolkua myöten. Tuomikalliolle suunnatessa pääsee kokemaan polkujuoksun todellista aatelia kun polku kulkee pitkin kauniita avokallioita. Tuomikallion jälkeen reitti palaa hyväkulkuista polkua pitkin jalkapallokenttien viereen ja loppukiri juostaan pitkin latu-uraa.
    
    ### Reittikartta
    
    ![Kaupin reittikartta](/images/kauppi-reittikartta-small.png)
    
    ### Rataprofiili
    
    ![Kaupin korkeusprofiili](/images/korkeusprofiilit-kauppi.png)
    