---
title:     Gopal-stage, Kaupin urheilupuisto
bodyclass: newproject
---

%section#main
  %h1 Gopal-stage, 13.5., Kauppi

  %p
    Toisessa osakisassa Trail Cup siirtyy aivan keskustan kupeeseen Kaupin urheilupuistoon. Harjumaasto vaihtuu Näsijärven rantakallioihin ja joskus juurakkoisiinkin -polkuihin.