---
title:     Tulokset
bodyclass: newproject
---

%section#main
  %h1 Tulokset

  %ul
    %li= link_to "Mikon Leipä-stage (5.5.2014)", "https://events.navigeist.com/fi/events/2/legs/6/results"
    %li
      %strong= link_to "Kokonaistilanne", "https://events.navigeist.com/fi/events/2/total_results"