---
title:     Stage 5, Niihama
bodyclass: newproject
layout: layout-2017
---

%section#main
  %h1 Stage 5, 30.5., Niihama


  :markdown
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rNDUJDkuMlE" frameborder="0" allowfullscreen></iframe>

  / %p
  /   %img{:src => "/images/hierojarilogo.jpg", :style => "width:390px; float: right;"}

  %p
    Polkujuoksusarjan viimeisessä osakisassa pääsemme jälleen Kaupin kansanpuistoon, tällä kertaa sen itäosiin.

  :markdown

    **Paikka:** Kilpailu kilpaillaan Niihaman majalla osoitteessa [Pikku-Niihaman tie 80, Tampere](https://maps.google.fi/maps?q=Pikku-Niihaman+tie+80&ie=UTF-8&hq=&hnear=0x468f20f0e37637e9:0xa22444495e6fcfa2,Pikku-Niihaman+tie+80,+33560+Tampere&gl=fi&ei=iEVhU82xNO3V4QSGnoDYCw&ved=0CCwQ8gEwAA)

    **Aika:** Tiistaina 30.5.2017. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti Pikku-Niihaman tien varteen. Parkista on matkaa kilpailukeskukseen muutamia satoja metrejä. Koska joudumme turvautumaan pääosin tienvarsipysäköintiin, toivomme mahdollisimman monen saapuvan paikalle pyörällä tai kimppakyydeillä.

    **Suihku-, pukeutumis-, ja wc-tilat:** Kilpailijoiden käytössä on Niihaman majan sauna-, pukeutumis- ja wc-tilat. Tiloja on erittäin rajoitetusti.

    **Kahvio**: Niihaman majan kahvio palvelee osanottajia kilpailukeskuksessa.

    ## Reittikuvaus

    Kilpailureitti on todella nopea. Reitillä on pituutta 7,0 km josta reilu kilometri on hyvää ulkoilureittiä tai soratietä. Nousua reitillä kertyy vain 58 metriä, josta suurin yksittäinen osuus koetaan heti alkukiihdytyksessä pururadalla.

    Lähtö tapahtuu Niihaman majan vierestä, josta lähdetään juoksemaan kohti Kauppia. Ensimmäiset 300 metriä juostaan ulkoilureittiä pitkin, ja sen aikana kannattaa ottaa hyvät asetelmat ennen maastoon siirtymistä. Maaston puolella ylämäki jatkuu vielä loivempana. Alkunousun jälkeen on lyhyt alamäki, jonka aikana voi ravistella ylämäessä tulleet maitohapot pois jaloista. Tämän jälkeen seuraava 1,5 km on tasaista polkujuoksua.

    Polkupätkän jälkeen koittaa n. 750 metriä pitkä tiepätkä, jossa pääsee vähän revittelemään vauhdin kanssa. Tieltä kurvataan vasemmalle kohti Näsijärven rantaa ja sen pittoreskeja polkuja. Tämä maastopätkä on todella vaativaa juostavaa, jopa suunnistajille, sillä poluilla on paljon kiviä ja juurakoita. Rantapolulta poistuttaessa koittaa lyhyt tieosuus, jonka jälkeen maaliin on matkaa enää noin kilometri. Tällä 300 metrin tieosuudella kannattaa siis pistää kaikki peliin jos vähänkään epäilee omia loppukirikykyjään.

    Viimeinen kilometri juostaan hyvä- ja nopeakulkuisella polulla Niihamajärven ympäri. Loppusuora aukeaa, kun havaitsee Niihaman majan punaisen saunarakennuksen, jonne pääsee suorituksen jälkeen saunomaan!

    ### Reittikartta

    ![Niihaman reittikartta](/images/2016/niihama-reittikartta-2016-web.jpg)

    ### Rataprofiili

    ![Niihaman korkeusprofiili](/images/2016/niihama-korkeusprofiili-2016.jpg)
