---
title:     Kauppi Trail 2016 – kilpailuohjeet
bodyclass: newproject
layout: kauppi-trail
---

%section#main
  :markdown

    # Kauppi Trail 17.7. – OHJEET

    **Kaikki tapahtumiin osallistuvat sitoutuvat ilmoittautuessaan noudattamaan
    näitä ohjeita ja sääntöjä. Juoksusarjan vastuullisena järjestäjänä on
    Tampereen Pyrinnön suunnistusjaosto.**

    ## Säännöt

    Polkujuoksukilpailun tarkoituksena on juosta maastoon merkittyä reittiä
    pitkin. Vahingossa reitiltä poistuneen osanottajan on palattava reitille
    siihen kohtaan, mistä poistui. Järjestäjillä on oikeus hylätä suoritus, jos
    osanottajan havaitaan oikaisevan reitiltä tai hän muutoin häiritsee
    kanssakilpailijoiden suoritusta.

    ## Sarjat

    Miehet/Naiset 10km ja 21km, molemmille matkoille myös kuntosarja.

    ## Osanottomaksut ja ilmoittautuminen

    Osanottomaksu 30.4. asti 21 km 20 e (JK 18 e) ja 10 km 15 e (JK 13 e),
    15.7. asti 21 km 30 e (JK 27 e) ja 10 km 25 e (JK 22 e), 16.7. alkaen 21 km
    35 e (JK 31 e) ja 10 km 30 e (JK 27 e). Ilmoittaudu käyttäen
    [ilmoittautumispalveluamme](https://events.navigeist.com/fi/events/6/registrations)
    tai sähköpostitse
    osoitteeseen info@trailcup.fi. *(JK= hinta juoksijakortin kanssa)

    Osanoton voi maksaa ennakkoilmoittautumisen yhteydessä Tampereen Pyrinnön
    tilille FI65 5730 0820 2114 86 (BIC: OKOYFIHH). Kirjoita viestikenttään
    Kauppi trail, sekä oma nimesi. Kilpailupaikalla maksettaessa maksuvälineenä
    käyvät seuraavat:

    * Käteinen
    * Liikuntaseteli (Smartum Oy)
    * Kulttuuriseteli (Smartum Oy)
    * TYKY-Kuntoseteli (RJ-Kuntoiluseteli Oy)
    * Virikeseteli (Luottokunta)

    ## Toiminta tapahtumapaikalla

    Osanottajien suositellaan saapuvan kilpailupaikalle hyvissä ajoin. Tällöin
    aikaa jää ilmoittautumiselle, kilpailunumeron hakemiselle ja
    alkuverryttelylle. Tapahtumapaikalla ilmoittautuminen on mahdollista kello
    10.30-11.30.

    Kaikki sarjat lähtevät matkaan samassa yhteislähdössä kello 12.00.

    ## Kilpailunumerot

    Kaikki kilpailijat käyttävät kilpailunumeroa. Numerot kerätään maalissa.

    ## Valo- ja videokuvaus

    Osakilpailuissa kuvataan sekä valokuva- että videomateriaalia.
    Ilmoittautumalla kisaan hyväksyt, että sinusta otettua materiaalia voidaan
    jatkossa käyttää kilpailun sivuilla ja markkinoinnissa. Materiaalia ei
    myydä tai muuten luovuteta eteenpäin.

    ## Vastuu

    Osanottajia ei ole vakuutettu järjestäjän toimesta. Jokainen osanottaja
    kilpailee omalla vastuullaan.

    ## Reitit

    10km ja 21km yhtenä kierroksena.

    ## Palkinnot

    Naisten ja miesten sarjan kolme parasta palkitaan molemmilla matkoilla.
    Lisäksi kaikkien osanottajien (ml. kuntosarja) kesken arvotaan
    arvontapalkintoja.
