---
title:     Stage 5, Topin tupa
bodyclass: newproject
---

%section#main
  %h1 Stage 5, 23.5., Topin tupa, entinen Metsäkylän koulu, Ylöjärvi

  / %ul
  /   %li== #{link_to "Tulokset", "https://events.navigeist.com/fi/events/2/legs/10/results"}
  /   %li= link_to "Kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157653083917320/"

  :markdown

  %p
    Neljännessä osakisassa karavaani siirtyy Herwoodin alpeille Etelä-Tampereelle. Poikkeuksellisen syvä kanjoni erottaa Hervannan muusta kaupungista, ja tätä luonnonoikkua pääsemmekin ihastelemaan ja tuskastelemaan koko rahan edestä.

  :markdown

    **Paikka:** Kilpailu kilpaillaan [Topin tuvalla Ylöjärvellä](https://maps.google.fi/maps?q=61.461934,+23.852324&num=1&vpsrc=0&ie=UTF8&t=m&z=16&iwloc=A)

    **Aika:** Tiistaina 23.5.2015. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Parkista on matkaa kilpailukeskukseen muutamia satoja metrejä.

  %h2 Reittikuvaus

  :markdown

    **Tulossa**

    ### Reittikartta

    **Tulossa**

    ### Rataprofiili

    **Tulossa**
