---
title:     HieroJari -stage, Lamminpää
bodyclass: newproject
---

%section#main
  %h1 HieroJari -stage, 6.5., Lamminpää
  
  %p
    Ensimmäinen Inov-8 Trail Cup avataan Tampereen länsikolkassa, paikassa, jossa on totuttu kavioiden kopseeseen. Lamminpään harjumaasto hivelee silmiä ja maastopohja on miellyttävää hiekkaa, mutta jyrkät nousut kaivavat helposti verenmaun kovimmankin kisailijan suuhun. Ilmaisena bonuksena juoksijat saavat komeat näköalat niin pohjoiseen kuin etelään.