---
title:     Toivion koulu
bodyclass: newproject
layout: layout-2017
---

%section#main
  %h1  Stage 4, 23.5., Toivion koulu, Pirkkala

  / %ul
  /   %li=# #{link_to "Tulokset", "https://events.navigeist.com/fi/events/2/legs/10/results"}
  /   %li=# link_to "Kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157653083917320/"

  :markdown
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FXe4B25rHQU" frameborder="0" allowfullscreen></iframe>

  %p
    Neljäs osakilpailu juostaan Pirkkalassa Toivion maastoissa.

  :markdown

    **Paikka:** Kilpailu kilpaillaan [Toivion koululla](https://www.google.fi/maps/place/Toivion+Koulu/@61.4517869,23.7217618,17z/data=!3m1!4b1!4m2!3m1!1s0x468ed92d50a7739d:0x9a03977046c8258b)

    **Aika:** Tiistaina 23.5.2017. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Parkista on matkaa kilpailukeskukseen muutamia satoja metrejä.

  %h2 Reittikuvaus

  :markdown

     Reitillä on mittaa 7,0 km ja nousumetrejä radan kuudessa pitkähkössä
    nousussa yhteensä 180 metriä, joka on enemmäin kuin missään muussa
    Trailcupin osakilpailussa.

    Toivion koululta alkavat jylhät pirkkalais maastot tarjoavat polkujuoksijoille
    haasteita laidasta laitaan. Suosittuna ulkoilualueenakin tunnettu
    polkujuoksupyhättö kätkee uumeniinsa kaikkea aina teknisiltä pikkupoluilta
    nurmipäällysteisiin latupohjiin, hivuttavia pitkiä nousuja ja vauhdikkaita
    alamäkiä, joissa vain oma maksimaalinen juoksunopeus on vauhtia rajoittamassa.
    Siis jokaiselle jotakin!

    Itse reitti lähtee koulun urheilukentältä ja suunta ns. ykkösen latupohjaa
    Keskisentien yli ja kohti Isonaistenjärveä. Kahden kilometrin juoksemisen
    jälkeen saavutaan Isonaistenjärvelle, jonka mukavalta rantapolulta ehtii välillä
    vilkuilla maisemia järvelle päin. Seuraava suuri haaste juoksijoille on
    Taaporinvuoren ylitys, jossa kuudensadan metrin aikana nousua kertyy noin 45
    metriä. Liian väsynyt ei kannata mäen päällä olla, sillä seuraava alamäki on
    teräviä jalkoja vaativa tekninen ilotulitus. Taaporin jälkeen noustaa heti
    Huhtavuorelle, josta matka jatkuun loivaa alamäkeä Soukovuorelle. Loppu
    lasketellaan latupohjaa ja noustaan Toivion kolmen kilometrin hiihtoladun jyrkkä
    ”seinänousu” ylös. Loppukiri kannattaa aloittaa viimestään kun saapuu koulun
    takapihalle. Siitä matkaa maalin on reilut sata metriä sisältäen lyhyen nousun
    ja laskun urheilukentälle.

    **Huom.!** Keväisin Toivon latupohjat saattavat paikoin olla erittäin vetisiä ja
    mutaisia ja siitä johtuen myös todella liukkaita. Noudata alamäissä
    varavovaisuutta. Kunnolliset kengät ovat paras tapa välttää kaatumiset.
    Järjestävä taho suosittelee nappula- tai nastakenkiä. Tavallisilla lenkkareilla
    pääsee varmasti radan läpi, mutta ne eivät ole vetisissä ja mutaisissa kohdissa
    kovinkaan hyvät, eivätkä turvalliset.


    ### Reittikartta

    ![Toivion reittikartta](/images/2016/toivio-reittikartta-2016-web.jpg)

    ### Rataprofiili

    ![Toivion korkeusprofiili](/images/2016/toivio-korkeusprofiili-2016.jpg)
