---
title:     Fast-stage, Suolijärvi
bodyclass: newproject
---

%section#main
  %h1 Fast-stage, 3.6., Suolijärvi
  
  %p
    Cupin viimeinen osakilpailu päästää kilpailijansa Suolijärven hiihto- ja avantouintipyhätön maastoihin. Löydät matkalta niin komeaa ikimetsää, avosuota kuin jylhiä kallioitakin.