---
title:     Fast-stage, Suolijärvi – Inov-8 Tampere Trail Cup
bodyclass: newproject
---

%section#main
  %h1 Fast-stage, 3.6., Suolijärvi
  
  %p
    Cupin viimeinen osakilpailu päästää kilpailijansa Suolijärven hiihto- ja avantouinti pyhätön maastoihin. Löydät matkalta niin komeaa ikimetsää, avosuota kuin jylhiä kallioitakin.