---
title:     Inov-8 Tampere Trail Cup
bodyclass: newproject
layout: layout-2019
---

%section#main
  .intro
    :markdown
      ## Kun asfaltti ei riitä…

  #description
    :markdown
      Inov-8 Trail Cup on viisiosainen polkujuoksusarja, joka juostaan viitenä peräkkäisenä huhti-toukokuisena tiistaina 2019 Tampereen parhaimmilla poluilla. Tapahtumat on suunnattu kaikentasoisille liikkujille ja viikoittaiset reitit vaihtelevat 6-8km välillä. Inov-8 Trail Cupin reitit ovat kokeneiden polkujuoksijoiden suunnittelemat ja merkkaamat, joten eksymisen vaaraa ei ole. Matalan kynnyksen polkujuoksusarja on Suomen ensimmäinen ja suurin laatuaan. Rennosta tunnelmasta, laadukkaista järjestelyistä ja runsaista palkinnoistaan tunnettu tapahtumasarja valtaa Tampereen polut jo kuudetta vuotta putkeen.

  #schedule
    %h2 Uutiset

    %ul
      - blog.articles[0...5].each do |article|
        %li
          = link_to article.title, article.url
          %time= article.date.strftime('%-d.%-m.')

    %p
      = link_to "Lisää uutisia…", "/uutiset"

  #details
    :markdown
      ## Lisätiedot

      info@trailcup.fi

      ## Nähdään keväällä Tampereen poluilla!
