---
title:     Stage 3, Lamminpää
bodyclass: newproject
---

%section#main
  %h1 12.5., Lamminpää

  %p
    Vuoden 2015 Inov-8 Trail Cupin toinen osakilpailu juostaan Tampereen länsikolkassa, paikassa, jossa on totuttu kavioiden kopseeseen. Lamminpään harjumaasto hivelee silmiä ja maastopohja on miellyttävää hiekkaa, mutta jyrkät nousut kaivavat helposti verenmaun kovimmankin kisailijan suuhun. Ilmaisena bonuksena juoksijat saavat komeat näköalat niin pohjoiseen kuin etelään.

  <iframe width="640" height="360" src="//www.youtube.com/embed/bmHnqpMGng4" frameborder="0" allowfullscreen></iframe>

  :markdown

    **Paikka:** Kilpailukeskus sijaitsee Lamminpään hiihtomajalla osoitteessa [Velodromintie 45, Tampere](https://www.google.com/maps/place/Velodromintie+45/@61.5270501,23.6290068,17z/data=!3m1!4b1!4m2!3m1!1s0x468ed807afff895d:0xccf447b935ad879e)

    **Aika:** Tiistaina 12.5.2015. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti majan alaparkkipaikalle. Pysäköinnistä on matkaa kilpailukeskukseen muutamia satoja porrasaskelmia.

    **Suihku-, pukeutumis-, ja wc-tilat:** Kilpailijoiden käytössä on Lamminpään majan pesu-, pukeutumis- ja wc-tilat.