---
title:     Stage 3, Lamminpää
bodyclass: newproject
---

%section#main
  %h1 Hippa-stage, 12.5., Lamminpää

  :markdown
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ts8QaeJRCC4" frameborder="0" allowfullscreen></iframe>

  %p
    %a{href: "http://www.hippa.fi"}
      %img{src: "/images/hippa_perheliikuntakeskus_logo_nega.png", width: 351}

  :markdown
    Vuoden 2015 Inov-8 Trail Cupin toinen osakilpailu juostaan Tampereen länsikolkassa, paikassa, jossa on totuttu kavioiden kopseeseen. Lamminpään harjumaasto hivelee silmiä ja maastopohja on miellyttävää hiekkaa, mutta jyrkät nousut kaivavat helposti verenmaun kovimmankin kisailijan suuhun. Ilmaisena bonuksena juoksijat saavat komeat näköalat niin pohjoiseen kuin etelään.

    Lamminpäässä myös perheen pienimmät pääsevät kisaamaan, kun kaikille alle 12-vuotiaille (2003 tai myöhemmin syntyneet) on tarjolla noin kilometrin mittainen rata. Kaikki osanottajat palkitaan [Perheliikuntakeskus Hipan](http://hippa.fi) vapaalipulla.

  :markdown

    **Paikka:** Kilpailukeskus sijaitsee Lamminpään hiihtomajalla osoitteessa [Velodromintie 45, Tampere](https://www.google.com/maps/place/Velodromintie+45/@61.5270501,23.6290068,17z/data=!3m1!4b1!4m2!3m1!1s0x468ed807afff895d:0xccf447b935ad879e)

    **Aika:** Tiistaina 12.5.2015. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti majan alaparkkipaikalle. Pysäköinnistä on matkaa kilpailukeskukseen muutamia satoja porrasaskelmia.

    **Suihku-, pukeutumis-, ja wc-tilat:** Kilpailijoiden käytössä on Lamminpään majan pesu-, pukeutumis- ja wc-tilat.