---
title:     Kauppi Trail 2016
bodyclass: newproject
layout: kauppi-trail
---

%section#main
  :markdown
    # Kauppi Trail 17.7.2016

    ![Kauppitrailesite](/images/kauppitrail/2016/kauppitrailesite.jpg)

    * [Kilpailuohjeet](/kauppitrail/2016/kilpailuohjeet.html)
    * [Reittikartta](/images/kauppitrail/2016/kauppi-trail-all.jpg)
    * [Ilmoittautuminen](/kauppitrail/ilmo)

    Kauppi Trail on suositun keväisen Inov-8 Trail Cup -polkujuoksusarjan järjestäjien tarjoama uusi pidempi kertaluontoinen polkujuoksuelämys Tampereen ytimessä Trail Cup -osallistujien toivomuksesta. Tapahtuma juostaan Kaupin mieluisilla ja luonnonkauniilla poluilla yhtenä kierroksena.

    **Su 17.07.2016 KAUPPI TRAIL**

    * PAIKKAKUNTA, LÄHTÖPAIKKA ja KELLONAIKA: Tampere, Kaupin urheilupuisto (Kuntokatu 5) klo 12
    * TAPAHTUMAN KATUOSOITE: Kuntokatu 5, Tampere
    * TAPAHTUMAN POSTINUMERO: 33520
    * TAPAHTUMAN POSTITOIMIPAIKKA: Tampere
    * TAPAHTUMAN MAA: Suomi
    * MATKAT JA SARJAT: 21 km M/N/Kunto. 10 km M/N/Kunto.
    * OSANOTTOMAKSUT JA ILMOITTAUTUMINEN: Os.maksu 30.4. asti 21 km 20 e (JK 18 e) ja 10 km 15 e (JK 13 e), 15.7. asti 21 km 30 e (JK 27 e) ja 10 km 25 e (JK 22 e), 16.7. alkaen 21 km 35 e (JK 31 e) ja 10 km 30 e (JK 27 e). Ilmoittaudu sähköpostitse osoitteeseen info@trailcup.fi.
    * PALKINNOT, MITALI: Naisten ja miesten kilpasarjojen parhaat palkitaan sekä 10 km että 21 km sarjoissa. Lisäksi arvontapalkintoja kaikkien osanottajien kesken.
    * REITTI: Kilpailu juostaan pääasiassa poluilla. Reitti kulkee Kaupin urheilupuiston parhailla ja vaativimmilla poluilla ja on näkyvästi merkattu maastoon. Tarkempi kuvaus reitistä tapahtuman kotisivuilla.
    * YHTEYSHENKILÖ JA PUHELIN: Anssi Huostila 0400-378319.
    * YHTEYSHENKILÖN SÄHKÖPOSTI: anssi.hu@hotmail.com
    * JÄRJESTÄJÄSEURA(T): Tampereen Pyrintö suunnistusjaosto