---
title:     Njie-stage, 21.5.2019, Kyötikkälän kenttä, Kangasala
bodyclass: newproject
layout: layout-2019
---

%section#main
  %h1  Njie-stage, 21.5.2019, Kyötikkälän kenttä, Kangasala

  %p
    %a{href: "https://www.njie.com/fi/"}
      %img{src: "/images/2019/NjieLogo_WHITE.png", width: "25%", style: "margin-bottom: 3em"}

  -# %ul
  -#   %li== #{link_to "Tulokset", "https://events.navigeist.com/fi/events/7/legs/25/results"}
  -#   %li= link_to "Kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157681991694341/"

  /   :markdown
  /     <iframe width="560" height="315" src="https://www.youtube.com/embed/FXe4B25rHQU" frameborder="0" allowfullscreen></iframe>

  :markdown

    **Paikka:** Kilpailukeskus sijaitsee Kyötikkälän urheilukeskuksessa, osoitteessa Lätsä-Pekan tie 21, Kangasala

    **Aika:** Tiistaina 21.5.2019. Lähtö klo 18.00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17.00-17.30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Parkista on matkaa kilpailukeskukseen noin sata metriä.

  %h2 Reittikuvaus

  :markdown
    Vuonna 2019 inov-8 Trail Cup valloittaa Kangasalan polut, kun Toivion osakisan sijasta järjestämme sarjan neljännen osakilpailun Kyötikkälän polkuparatiisissa. Reitti on 8,1 km pitkä ja nousumetrejä kertyy 142.

    Lähtölaukaus pamahtaa Lätsä-Pekan tien päästä, legendaarisen Kyötikkälän urheilukentän laidalta ja reilu sadan metrin tasaisen pätkän jälkeen tarjotaan rivakkaa nousua, kun reitti kiipeää harjun ylös ja kaartaa hiihtolatusiltaa pitkin Kyötikkäläntien länsipuolelle. Sillan jälkeen päästään itse asiaan eli kauniille neulaspolulle, kun reitti poikkeaa hiihtolatupohjalta vasemmalle metsäpolulle, joka seurailee Linturinteen harjun reunaa. Reitti käy kiertämässä muutaman supan ja eläinten hautausmaan ennen kuin suuntaa takaisin hiihtolatusillalle ja Kyötikkäläntien itäpuolelle. Vaikka siltaa kuljetaankin nyt vastakkaiseen suuntaan kuin mennessä, törmäyksiä ainakaan Trail Cup -juoksijoiden kanssa ei tule, sillä kaikki ovat jo ehtineet kaartamaan alkulenkille ennen kuin kärki rynnistää sillalle uudelleen.

    Sillalta kaarretaan jyrkästi oikealle ja rullataan Isolukon pohjalle. Isolukko on yksi Suomen syvimmistä supista, ja korkeuseroa supan pohjalta supan reunalle kertyy hulppeat 44 metriä. Isolukosta noustaan takaisin Kirkkoharjulle vesitorni ohittaen. Tästä jatketaan niin sanotulle Kirkkoharjun pallomeripätkälle, joka on saanut nimensä kivikkoisuudestaan. Erotuksena kaimaansa tässä pallomeressä eivät tosin pyöri muovipallot vaan juoksijoiden nilkat. Teippaa siis jalkasi hyvin tai ota tämä noin kilometrin pätkä varovasti, mikäli olet yhtään epävarma nilkkojesi kunnosta. Karinahteen portaiden kohdalla reitti kaartaa jyrkästi vasempaan harjun pohjoispuolelle ja matkantekoa jatketaan harjun toisella laidalla. Lopulta soramonttuna toiminut rinne avautuu oikealle ja neulaspolku vaihtuu nopeaan latupohjaan. Maaliin kaarretaan stadionin päädyn vierestä pienen loppunousun saattelemana.




    ### Reittikartta ja rataprofiili

    ![Kyötikkälän reittikartta](/images/2019/kyotikkala_valmis-2.jpg)
