---
title:     Tulokset
bodyclass: newproject
layout: layout-2018
---

%section#main
  %h1 Tulokset

  %ul
    %li
      == #{link_to "Kauppi Sports Center -stage (1.5.2018)", "https://events.navigeist.com/fi/events/8/legs/27/results"},
      -# = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157680207063473/"
    %li
      %strong= link_to "Kokonaistilanne", "https://events.navigeist.com/fi/events/8/total_results"
