---
title:     Gopal-stage 4, Lukonmäki
bodyclass: newproject
---

%section#main
  %h1 Gopal-stage, 26.5., Hervannan laskettelukeskus
  
  :markdown
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CiW9mOoIMEk" frameborder="0" allowfullscreen></iframe>
  
  %p
    Neljännessä osakisassa karavaani siirtyy Herwoodin alpeille Etelä-Tampereelle. Poikkeuksellisen syvä kanjoni erottaa Hervannan muusta kaupungista, ja tätä luonnonoikkua pääsemmekin ihastelemaan ja tuskastelemaan koko rahan edestä.
    
  :markdown
  
    **Paikka:** Kilpailu kilpaillaan [Hervannan lasketteluskeskuksessa](https://maps.google.fi/maps?q=61.461934,+23.852324&num=1&vpsrc=0&ie=UTF8&t=m&z=16&iwloc=A)

    **Aika:** Tiistaina 26.5.2015. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Parkista on matkaa kilpailukeskukseen muutamia satoja metrejä.

    **Pesu-, suiku-, ja wc-tilat:** Kilpailukeskuksessa on käytössä vain kaksi wc:tä ja pukuhuoneet. Ei suihkumahdollisuutta.
  
  %h2 Reittikuvaus
  
  :markdown
  
    Inov-8 Trailcupin neljäs osakilpailu juostaan Hervannan laskettelukeskuksesta kohti Hallilan polkuja täysin uusitulla reitillä. Kilpailu lähtee laskettelurinteen alta ja suuntaa heti lähtölaukauksen jälkeen pienen nousun kautta Hervannan valtaväylän ali. Pian tunnelin jälkeen käännytään metsäpolulle ja noustaan tiukka ja tekninen nousu Hallilanmäelle. Mäki on täynnä pieniä polkuja, joten kreppejä saa seurata tarkasti. 

    Hallilanmäen valloituksen jälkeen reitti seuraa Kanjonin pohjoislaitaa ja käy kääntymässä hienon avokalliokumpareen päällä. Kumpareelta tullaan alas vauhdikas alamäki, joka loppuu jyrkkään vasemmalle kaartavaan mutkaan.

    Seuraavaksi reitti seuraa voimalinjaa itään, helposti juostavaa polkua pitkin. Tälle pätkälle osuu myös vauhdikas ja tekninen alamäki, jossa maltti on valttia. Reitti palaa lähelle Hervannan valtaväylän siltaa ja nousee pienen hiekkatiepätkän jälkeen pitkähkön terävän nousun, jonka jälkeen juostaan nautinnollista neulaspolkua takaisin kohti laskettelukeskusta. Lopuksi lasketellaan vielä mäkimonttujen poikki ja tullaan kilpailukeskukseen.

    Maaliin ei vielä kuitenkaan päästä aivan vielä, vaan edessä on terävä nousu Lukonmäen itäiseen laskettelurinteeseen, jossa kierretään mainoslipun ympäri vastapäivään. Viimeisessa kinkamassa nousua kertyy noin 25 metriä. 

    Kokonaisuudessaan reitin pituus on 5,0 kilometriä ja nousua kertyy suunnilleen 150 m. Reitti haastaa varmasti kovimmatkin kilpailijat fyysisyydellään ja teknisyydellään, mutta myös rauhallisempaan tahtiin eteneville reitti tarjoaa hyvän polkujuoksuelämyksen. 
  
    ### Reittikartta

    ![Lukonmäen reittikartta](/images/hervannan-laskettelukeskus-2015-kartta.jpg)

    ### Rataprofiili

    ![Lukonmäen korkeusprofiili](/images/hervannan-laskettelukeskus-2015-korkeusprofiili.jpg)