---
title:     Stage 4, Lukonmäki
bodyclass: newproject
---

%section#main
  %h1 26.5., Hervannan laskettelukeskus
  
  %p
    Neljännessä osakisassa karavaani siirtyy Herwoodin alpeille Etelä-Tampereelle. Poikkeuksellisen syvä kanjoni erottaa Hervannan muusta kaupungista, ja tätä luonnonoikkua pääsemmekin ihastelemaan ja tuskastelemaan koko rahan edestä.
    
  :markdown
  
    **Paikka:** Kilpailu kilpaillaan [Hervannan lasketteluskeskuksessa](https://maps.google.fi/maps?q=61.461934,+23.852324&num=1&vpsrc=0&ie=UTF8&t=m&z=16&iwloc=A)

    **Aika:** Tiistaina 26.5.2015. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Parkista on matkaa kilpailukeskukseen muutamia satoja metrejä.

    **Pesu-, suiku-, ja wc-tilat:** Kilpailukeskuksessa on käytössä vain kaksi wc:tä ja pukuhuoneet. Ei suihkumahdollisuutta.