---
title:     Noname-stage, Topin tupa
bodyclass: newproject
layout: layout-2018
---

%section#main
  %h1 Noname-stage, 24.5., Topin tupa, entinen Metsäkylän koulu, Ylöjärvi

  / %ul
  /   %li== #{link_to "Tulokset", "https://events.navigeist.com/fi/events/2/legs/10/results"}
  /   %li= link_to "Kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157653083917320/"

  %ul
    %li== #{link_to "Tulokset", "https://events.navigeist.com/fi/events/4/legs/18/results"}
    / %li= link_to "Kuva-albumi", "https://flic.kr/s/aHskwHz154"

  /   :markdown
  /     <iframe width="560" height="315" src="https://www.youtube.com/embed/BIkTsbD59Ts" frameborder="0" allowfullscreen></iframe>

  %p
    Viides osakilpailu juostaan Ylöjärven kangasmaastoissa Metsäkylän poluilla.

  :markdown

    **Paikka:** Kilpailu kilpaillaan [Topin tuvalla Ylöjärvellä](https://goo.gl/maps/Sk5RcSxHfZo)

    **Aika:** Tiistaina 23.5.2015. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Parkki on lähellä kilpailukeskusta.

  %h2 Reittikuvaus

  :markdown

    6,5km pituinen reitti alkaa Topin tuvan hiekkakentältä ja n. 100 m kiihdytyksen jälkeen sukelletaankin jo metsään hienoille poluille. Tässä voi muodostua pienoinen pullonkaula, joten kannattaa hankkia jo lähtökiihdytyksessä hyvät asemat jotta ei joudu poluilla rouhimaan ihmis”massojen” ohi.  Alun polku on kyllä leveähköä joten ohittelu pitäisi siinäkin olla mahdollista.

    Reitti suuntaa vanhan soramontun reunoille jota se seurailee hetken aikaa kunnes sukeltaa alas supikkoon. Tällä pätkällä on paikoittain varsin juurakkoista alamäkeä jossa kannattanee varoa nilkkojaan. Reitti jatkuu hieman leveämpää polkua pitkin kohti Julkujärven majaa, jota ennen se hyökkää ylös harjun päälle pienempää polkua pitkin. Tältä osin varsin hyväkulkuinen  reitti kulkee tätä harjun päällystää pitin jonkin matkaa kunnes se kääntyy toista polkua pitkin takaisin kohti Metsäkylää.

    Reitti jatkaa varsin nopeaa harjun päällystää Julkujärven eteläpuolella kunnes siksakkaa alas suolle pikkupolulle, joka ei varsinaisesti ole mitään nopeinta baanaa. Reitti seurailee näitä notkonpohjan pienempiä, kulkukelpoisuudeltaaan vaihtelevia polkuja, kunnes nousee pururadalle jolta reitti poikkeaa vielä viimeiselle vajaan kilometrin polkulenkille.

    Lopun polku ei ole kovin leveää mutta kulkukelpoisuus on ihan hyvä joten jos voimia riittää voi tällä pätkällä vielä päästellä höyryjä koneesta. Lopulta reitti tupsahtaa metiköstä takaisin Topin tuvan kentälle jossa on vielä lyhyt loppusuora ennen maaliviivaa.

    ### Reittikartta

    ![Reittikartta](/images/2016/topin-tupa-reittikartta-2016-web.jpg)

    ### Rataprofiili

    ![Korkeusprofiili](/images/2016/topin-tupa-korkeusprofiili-2016.jpg)
