---
title: VJ SOLO TRAIL CUP 2021
bodyclass: newproject
layout: layout-2021
---

%section#main
  :markdown
    # VJ SOLO TRAIL CUP 2021

    Edelleen voimassa olevista kokoontumisrajoituksista johtuen varsinainen VJ Trail Cup on siirretty syksymmälle ja sen tilalla järjestetään VJ Solo Trail Cup, jonka tapahtumat juostaan viikon aikana oman aikataulun mukaan. Reitit ovat tavanomaista selvästi kevyemmin merkityt ja osanottajille suositellaan kartan tai matkapuhelimen mukaan ottamista. Tarjoamme myös reittien gpx-tiedostot halukkaille osallistujille virtuaalisen reittiopastuksen virittämiseksi. Kaikki ohjeet alla:

    ## Tapahtumat ja reitit

    Tapahtumat juostaan samoilla reiteillä kuin varsinainen VJ Trail Cup myöhemmin kesällä, joten tapahtumasarja tarjoaa osallistujilleen oivan mahdollisuuden tutustua reitteihin etukäteen.

    1. Kauppi 17.5.-23.5. • [Reitti](/images/2020/kauppi2020.jpg) • [GPX-tiedosto](/2020/gpx/kauppi.gpx) • [Strava-segmentti](https://www.strava.com/segments/23499360)
    2. Suolijärvi 24.5.-10.5. • [Reitti](/images/2020/suolijarvi2020.jpg) • [GPX-tiedosto](/2020/gpx/suolijarvi.gpx) • [Strava-segmentti](https://www.strava.com/segments/23186451)
    3. Lamminpää 31.5.-17.5. • [Reitti](/images/2020/lamminpaa2020.jpg) • [GPX-tiedosto](/2020/gpx/lamminpaa.gpx) • [Strava-segmentti](https://www.strava.com/segments/14899191)
    4. Kyötikkälä 7.6.-13.6. • [Reitti](/images/2020/kyotikkala2020.jpg) • [GPX-tiedosto](/2020/gpx/kyotikkala.gpx) • [Strava-segmentti](https://www.strava.com/segments/23567881)
    5. Niihama 14.6.-20.6. • [Reitti](/images/2020/niihama2020.jpg) • [GPX-tiedosto](/2020/gpx/niihama.GPX) • [Strava-segmentti](https://www.strava.com/segments/15093592)


    ## Osallistuminen ja palkinnot

    Osallistuakseen tapahtumiin osallistujan ei tarvitse ilmoittautua mitenkään. Osallistuminen on omalla vastuulla. Reitit ovat kaikille avoimet kierrettäviksi ja kevyesti merkatut yllä olevina ajankohtina. Järjestäjät ovat kuitenkin kiitollisia kaikista sosiaalisen median päivityksistä hashtagilla #vjtrailcup.

    ## Merkkaus

    Muiden poluilla liikkuvien huomioimiseksi ja mahdollisen ilkivallan minimoimiseksi reitit ovat perinteistä VJ Trail Cupia huomattavasti kevyemmin merkatut. Pyrimme krepittämään risteyspaikat ja mahdolliset muut epäselvät kohdat, mutta ”suorille” pätkille emme merkkejä aseta. Järjestäjillä ei valitettavasti ole myöskään resursseja tarkastaa reittejä päivittäin. Mahdollisista puutteista merkkauksessa voi raportoida sähköpostilla. Pyrimme korjaamaan merkkausta tarvittaessa.

    ## Gps-opastus

    Monet sykemittarit tarjoavat käyttäjilleen mahdollisuuden asettaa virtuaalisen reittiopastuksen. Järjestelyorganisaation omakohtaisten kokemusten mukaan nämä opastukset toimivat erinomaisesti myös poluilla, mistä syystä haluammekin tarjota gpx-tiedostot osallistujille ladattaviksi. Ohjeita virtuaalisen reittiopastuksen asettamisesta omaan sykemittariinsa löytyy helposti googlettamalla. Ohjeet ovat laite- ja mallikohtaisia, joten emme ole niitä tähän keränneet. Jos kaipaat apua reittiopastuksen asettamisessa, ota rohkeasti yhteyttä.

    ## Strava

    Kaikkien Strava-käyttäjien iloksi kaikki VJ Trail Cup -reitit löytyvät nyt myös segmentteinä Stravasta. Lisäksi olemme lisänneet muutamat mielenkiintoisimmat segmentit reittien varrelta omiksi segmenteikseen. Näin ollen kaikkien Strava-käyttäjien on helppo seurata omaa kehittymistään VJ Trail Cup -reiteillä vuosien varrelta ja vuosiksi eteenpäin. Muistathan, että vanhojen suoritusten lisääminen Stravaan onnistuu jälkikäteen myös manuaalisesti. Joten, mikäli aikaisemmilta vuosilta suoritus on jossain palvelussa tallessa, voi sitä kätevästi verrata myös jälkikäteen.