---
title:     Ilmoittautuminen
bodyclass: newproject
---

%section#main
  %h1 Ilmoittautuminen

  :markdown
    *Ilmoittautumishärveli tulossa pikapuoliin.*

    Voit ilmoittautua myös sähköpostitse osoitteeseen  severi21@suomi24.fi. Laita viestiin seuraavat tiedot:

    * Nimi
    * Joukkue
    * Sarja (Miehet, naiset, kunto)
    * Osakilpailu, johon haluat ilmoittautua (muista, että saat koko sarjan neljän osakilpailun hinnalla)