---
title:     Yleisinfo
bodyclass: newproject
layout: layout-2020
---

%section#main
  %h1 Inov-8 trail cup 2020 – ohjeet

  :markdown

    **HUOM! Alustavat ohjeet, päivittyvät cupin lähestyessä.**

    **_Kaikki tapahtumiin osallistuvat sitoutuvat ilmoittautuessaan noudattamaan näitä ohjeita ja sääntöjä. Juoksusarjan vastuullisena järjestäjänä on Tampereen Pyrinnön suunnistusjaosto._**

    ### Säännöt

    Polkujuoksutapahtuman tarkoituksena on juosta maastoon merkittyä reittiä pitkin. Vahingossa reitiltä poistuneen osanottajan on palattava reitille samaan kohtaan, josta poistui. Inov-8 Trail Cupin reitit ovat hyvin merkattuja, joten eksymisen vaaraa ei pitäisi olla. Järjestäjillä on oikeus hylätä suoritus, jos osanottajan havaitaan oikaisevan reitiltä tai hän muutoin häiritsee muiden osallistujien suoritusta.

    ### Sarjat

    Miehet, naiset ja kunto. Lisäksi cupin kaikista tapahtumista lasketaan joukkuesuorituspisteitä. Joukkuepisteiden keruu on suunnattu yrityksille ja kaikille erilaisille vapaamuotoisille tiimeille. Eniten joukkuesuorituspisteitä kaikista tapahtumista yhteensä kerännyt tiimi saavuttaa Tampereen ketterimmät -joukkuetittelin.

    ### Osanottomaksut

    Yksittäisen osakilpailun osanottomaksu on etukäteen ilmoittauduttaessa 12 euroa (paikan päällä 15 euroa) ja koko sarjan 50 euroa. Koko sarjan osanottomaksu on 45 euroa Juoksija-kortilla sekä Tampereen Pyrinnön ja KeparDIn jäsenkorteilla.

    Osanoton voi maksaa ennakkoilmoittautumisen yhteydessä Tampereen Pyrinnön tilille FI65 5730 0820 2114 86 (BIC: OKOYFIHH). Käytä ilmoittautumisesi mukana saamaasi viitettä tai laita viestikenttään oma nimesi. Kilpailupaikalla maksettaessa maksuvälineenä käyvät seuraavat:

    * Käteinen (emme hyväksy yli 50 euron seteleitä)
    * Liikuntaseteli (Smartum Oy)
    * Kulttuuriseteli (Smartum Oy)
    * TYKY-Kuntoseteli (RJ-Kuntoiluseteli Oy)
    * Virikeseteli (Luottokunta)
    * Smartum saldo -verkkomaksu*
    * Tyky-Online -verkkomaksu*

    *) Palveluntuottajaksi on valittava Tampereen Pyrintö suunnistusjaosto, jolle suoritetaan vapaa maksu.

    ### Toiminta tapahtumapaikalla

    Osanottajien suositellaan saapuvan tapahtumapaikalle hyvissä ajoin. Tällöin aikaa jää ilmoittautumiselle, numerolapun hakemiselle ja alkuverryttelylle. Tapahtumapaikalla ilmoittautuminen on mahdollista kello 17.00–17.30.

    Kaikki sarjat lähtevät matkaan samassa yhteislähdössä kello 18.00.

    Niin yksittäisen stagen kuin koko sarjan ilmoittautuminen on henkilökohtainen eikä se ole siirrettävissä toiselle henkilölle.

    ### Numerolaput

    Kaikki osanottajat käyttävät numerolappua. Numerolappu on henkilökohtainen ja sama koko sarjan ajan. Numerot kerätään maalissa viimeistä stagea lukuun ottamatta ja ovat odottamassa jälleen seuraavan stagen tapahtumakeskuksessa. Jos tiedät osallistuvasi vain yhteen tapahtumaan, mainitse siitä maalissa niin saat pitää numerosi.

    ### Valo- ja videokuvaus

    Tapahtumissa kuvataan sekä valokuva- että videomateriaalia. Ilmoittautumalla kisaan hyväksyt, että sinusta otettua materiaalia voidaan jatkossa käyttää tapahtuman sivuilla ja markkinoinnissa. Materiaalia ei myydä tai muuten luovuteta eteenpäin.

    ### Vastuu

    Osanottajia ei ole vakuutettu järjestäjän toimesta. Jokainen osanottaja osallistuu omalla vastuullaan.

    ### Reitit

    Tapahtumareitit ovat pituudeltaan 6-8 kilometriä, ja kulkevat pääosin poluilla. Tapahtumien alku- ja loppuvaiheessa on usein enemmän leveämpää ja tasaisempaa ulkoilureittiä.

    ### Palkinnot

    Jokaisessa stagessa palkitaan sekä naisten että miesten sarjojen kolme nopeinta aikaa kellottanutta. Lisäksi kaikkien osanottajien (ml. kuntosarja) kesken arvotaan arvontapalkintoja.

    Kokonaiscupissa palkitaan molempien kilpasarjojen viisi parasta yhteispisteiden perusteella (kts. kohta Pistelasku).

    ### Pistelasku

    Osanottajan yksittäisestä tapahtumasta saamat pisteet lasketaan seuraavan kaavan perusteella:

    `voittajan aika / oma aika * 1000`

    Näin joka tapahtuman voittaja saa aina tuhat pistettä.

    Kokonaiskisaan lasketaan mukaan osanottajan *neljät parhaat pisteet*.

    ### Erityisohjeet Tampereen ketterimmät -joukkuetittelin tavoitteluun

    Tampereen ketterimmät -joukkuetittelin tavoittelu on yrityksille ja muille joukkueille ilmaista. Joukkueeseen voi kuulua rajaton määrä osanottajia. Osanottajan tulee olla edustamansa yrityksen tai yhteisön palveluksessa, mutta myös muut vapaamuotoiset joukkueet voivat osallistua. Tampereen ketterimmät -kilpailuun ilmoittaudutaan normaalin ilmoittautumisen yhteydessä, joko ennakkoilmoittautumalla tai tapahtumapaikalla.

    Joka stagen pistelaskennassa otetaan huomioon joukkueen kolmen parhaan osallistujan saavuttamat pisteet (kts. kohta Pistelasku). Kokonaispisteisiin lasketaan yhteen joukkueen jokaisessa tapahtumassa saavuttamat pisteet. Eniten kokonaispisteitä saavuttanut yritys tai muu joukkue saavuttaa himoitun Tampereen ketterimmät -joukkuetittelin! 