---
title:     Mikon Leipä -stage, 5.5., Kaupin urheilupuisto
bodyclass: newproject
---

%section#main
  %h1 Mikon Leipä -stage, 5.5., Kauppi

  :markdown
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rgw8l2vK3lw" frameborder="0" allowfullscreen></iframe>
    

  %p
    Trail Cupin toinen tuotantokausi avataan Kaupin urheilupuistossa. Maastona toimivat Näsijärven rantakalliot ja joskus juurakkoisetkin -polut.

  :markdown

    **Paikka:** Kilpailu kilpaillaan Kaupin urheilupuistossa, osoite: [Kuntokatu 5, Tampere](https://www.google.fi/maps/place/Kaupin+Urheilupuisto/@61.504892,23.8151543,16z/data=!4m2!3m1!1s0x0:0xd5101530e6141b3d)

    **Aika:** Tiistaina 5.5.2015. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Pysäköinnistä on matkaa kilpailukeskukseen muutamia satoja metrejä.

    **Suihku-, pukeutumis-, ja wc-tilat:** Kilpailijoiden käytössä on Kaupin vanhan huoltorakennuksen suihku-, pukeutumis-, ja wc-tilat.
