---
title:     Mikon leipä -stage, 18.8.2020, Kyötikkälän kenttä, Kangasala
bodyclass: newproject
layout: layout-2021
---

%section#main
  %h1  Mikon leipä -stage, 18.8.2020, Kyötikkälän kenttä, Kangasala

  %p
    %a{href: "https://www.mikonleipa.fi/"}
      %img{src: "/images/mikon-leipa.png"}

  %ul
    %li== #{link_to "Tulokset", "https://events.navigeist.com/fi/events/10/legs/40/results"}
    %li= link_to "Kuva-albumi", "https://flic.kr/s/aHsmQ6yMBV/"

  /   :markdown
  /     <iframe width="560" height="315" src="https://www.youtube.com/embed/FXe4B25rHQU" frameborder="0" allowfullscreen></iframe>

  :markdown

    Paikka: Tapahtumakeskus sijaitsee Kyötikkälän urheilukeskuksessa, osoitteessa Lätsä-Pekan tie 21, Kangasala

    Aika: Tiistaina 18.8.2020. Lähtö klo 18.00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17.00-17.30.

    Pysäköinti: Autot pysäköidään pysäköintiohjauksen mukaisesti. Parkista on matkaa kilpailukeskukseen noin sata metriä.

    Suihku-, pukeutumis-, ja wc-tilat: Kilpailijoiden käytössä on Kyötikkälän kentän suihku-, pukeutumis- ja wc-tilat.

  %h2 Reittikuvaus

  :markdown

    Viime vuonna tapahtumadebyyttinsä VJ Trail Cupiin tehnyt Kyötikkälä sai niin paljon kehuja, että tämä polkuparatiisi on ilman muuta pidettävä mukana myös tämänvuotisessa VJ Trail Cup kiertueessa. Jääkausi on polkujuoksijoiden iloksi kerrostanut Kyötikkälän maastoon paksut kerrokset hiekkaa ja soraa tarjoten jyrkkiä harjunrinteitä. Lisäksi valtavia kimpaleita jäätä on irronnut mannerjäästä luoden suppia, joista syvimmässä, Isolukossa, tämänkin vuoden VJ Trail Cup käy piipahtamassa. Kyötikkälän maasto tarjoaa polkujuoksijalle vaihtelevat polut, jotka ovat suurimmaksi osaksi helppokulkuisia neulaspolkuja mutta myös kivistä alustaa osuu reitille. Oman lisämausteen tähän tuo suuret korkeuserot ja jyrkät ylä- ja alamäet. Pituutta reitille kertyy 5,9 km ja nousua tähän sisältyy 140 metriä.

    Lähtölaukaus pamahtaa Lätsä-Pekan tien päästä, legendaarisen Kyötikkälän urheilukentän laidalta ja reilu sadan metrin tasaisen pätkän jälkeen tarjotaan rivakkaa nousua, kun reitti kiipeää harjun ylös. Reitti pysyy Kyötikkäläntien itäpuolella ja kohta jo rullataan harjua alas Isolukon pohjalle asti. Isolukko on yksi Suomen syvimmistä supista, ja korkeuseroa supan pohjalta supan reunalle kertyy hulppeat 44 metriä. Isolukosta noustaan takaisin Kirkkoharjulle vesitorni ohittaen.

    Tästä jatketaan niin sanotulle Kirkkoharjun pallomeripätkälle, joka on saanut nimensä kivikkoisuudestaan. Erotuksena kaimaansa tässä pallomeressä eivät tosin pyöri muovipallot vaan juoksijoiden nilkat. Teippaa siis jalkasi hyvin tai ota tämä noin kilometrin pätkä varovasti, mikäli olet yhtään epävarma nilkkojesi kunnosta. Karinahteen portaiden kohdalla reitti kaartaa jyrkästi vasempaan harjun pohjoispuolelle ja matkantekoa jatketaan harjun toisella laidalla.

    Reilun kilometrin kangasloikotuksen jälkeen reitti laskeutuu Sorolan montun pohjalle. Tulevan tykkilumivaraston vierestä alkaa tuima nousu takaisin kohti luonnontilaista harjua. Mäestä on myös Strava-segmentti nimeltä Sorolan montun mäki, jossa jokainen voi katsastaa mäkikuntonsa. Loppureitti kiertää nautinnollisia neulaspolkuja pitkin urheilustadionin pohjoispuolella ja maaliin kurvataan hiihdosta tuttua loppusuoraa pitkin.

    ### Reittikartta ja rataprofiili

    ![Kyötikkälän reittikartta](/images/2020/kyotikkala2020.jpg)
