---
title:     Noname-stage, 10.8.2021, Lamminpää
bodyclass: newproject
layout: layout-2021
---

%section#main
  %h1 Noname-stage, 10.8.2021, Lamminpää

  /
    %ul
      %li== #{link_to "Tulokset", "https://events.navigeist.com/fi/events/10/legs/39/results"}
      %li= link_to "Kuva-albumi", "https://flic.kr/s/aHsmPXMjKv"

  /
    %p
      %a{href: "http://www.premiumsport.fi"}
        %img{src: "https://www.premiumsport.fi/wp-content/themes/premiumsport/imgs/logo.png"}
  %p
    %a{href: "http://www.nonamesport.com"}
      %img{src: "/images/noname_logo.png"}

  :markdown
    <!--Vuoden 2020 VJ Trail Cupin kolmas tapahtuma juostaan Tampereen länsikolkassa - paikassa, jossa on totuttu kavioiden kopseeseen. Lamminpään harjumaasto hivelee silmiä ja maastopohja on miellyttävää hiekkaa, mutta jyrkät nousut kaivavat helposti verenmaun kovimman kisailijan suuhun. Ilmaisena bonuksena juoksijat saavat komeat näköalat niin pohjoiseen kuin etelään.

    Lamminpäässä myös perheen pienimmät pääsevät polkujuoksemaan, kun kaikille alle 12-vuotiaille (2008 tai myöhemmin syntyneet) on tarjolla noin kilometrin mittainen lasten polkujuoksu ennen isompien starttia. Lasten polkujuoksun osanottomaksu on 2 euroa.

    Paikka: Kilpailukeskus sijaitsee Lamminpään hiihtomajalla osoitteessa Velodromintie 45, Tampere

    Aika: Tiistaina 11.8.2020. Lähdöt klo 17.30 (lasten polkujuoksu) ja klo 18.00 (kaikki muut), ilmoittautuminen ja kilpailumateriaalin nouto klo 17.00-17.20.

    Pysäköinti: Autot pysäköidään pysäköintiohjauksen mukaisesti majan alaparkkipaikalle. Pysäköinnistä on matkaa kilpailukeskukseen muutamia satoja porrasaskelmia.

    Suihku-, pukeutumis-, ja wc-tilat: Kilpailijoiden käytössä on Lamminpään majan pesu-, pukeutumis- ja wc-tilat.
    -->

    ### Reittikuvaus

    Tapahtuman reitti on 5,9 km pitkä ja kulkee Lamminpään harjumaisemissa. Reitistä 1,0 km on hyväpohjaista pururataa pitkin ja loput 4,9 km vaihtelevapohjaisia polkuja. Reitillä nousua kertyy yhteensä 130 m.

    Tapahtuman lähtö tapahtuu Lamminpään majan vieressä olevalta aukealta. Reitin ensimmäiset 750 m taivalletaan nopeaa hyväpohjaista ulkoilureittiä pitkin. Tällä pätkällä ensin laskeudutaan harjun pohjoispuolelle ja noustaan takasin ylös. Tämän pätkän ja reisihajonnan ansiosta porukka asettuu todennäköisimmin siistiin jonoon ennen kuin siirrytään poluille, jossa ohitusmahdollisuudet ovat huomattavasti rajallisemmat.

    Siirtymä ulkoilureitiltä polulle tapahtuu asteittain, pururadan pienentyessä vähittäin poluksi laskeuduttaessa alas harjun eteläpuolella olevaan notkomuodostelmaan. Notkon pohjalla oleva polku on kulkukelpoisuudeltaan hieman heikohkoa juurakkoineen ja kaatuneine puineen, joista yhden alituksessa täytynee hieman varoa päätään. Notkon pohjalta noustaan lopulta leveää uraa ylös, ylitetään pururata ja laskeudutaan harjun pohjoispuolen polulle. Tämä polku on alkuun varsin hyväpohjaista mutta muuttuu lopulta erittäin kivikkoiseksi ja pahimmissa kohdissa kannattanee varoa nilkkojaan.

    Kun pohjoispuolta on raastettu tarpeeksi, kiivetään jälleen harjun yli eteläpuolelle, jossa polku muuttuu hyväpohjaiseksi ja saavutaan reitin puoliväliin vanhan sorakuopan reunoille. Tästä jatketaan harjun eteläpuolen tasaisia polkuja pitkin lopulta laskeutuen alas laskettelurinteen alla olevaan suppaan, missä on myös reitille kaatunut puu mikä pitää alittaa hieman kumartuen. Tämä pätkä on varmasti koko retin nopein polkujen ollessa hyväpohjaisia ja tasaisia, lukuun ottamatta muutamia pieniä nousuja.

    Laskettelurinteen pohjalla olevan lammen vierestä lähteen viimeinen 500 metrin puristus, jossa juoksijat saavat kivuta harjun ylös koko korkeudeltaan, minkä jälkeen on enää lyhyt pätkä harjun päällä ennen kuin saavutaan maaliin Lamminpään majalle. Tämä viimeinen nousu tulee takulla olemaan ratkaisun paikka ja siinä voi syntyä suuriakin eroja.

    ### Reittikartta ja rataprofiili

    ![Lamminpään reittikartta](/images/2021/lamminpaa2021.jpg)
