---
title: Kauppi Sports Center Stage, 30.4.2019, Kaupin urheilupuisto
bodyclass: newproject
layout: layout-2019
---

%section#main
  %h1 Kauppi Sports Center Stage, 30.4.2019, Kauppi

  %p
    %a{href: "https://kauppisportscenter.fi/"}
      %img{src: "/images/ksc-valkoinen.png", style: "width: 25%"}

  -# %ul
  -#   %li== #{link_to "Tulokset", "https://events.navigeist.com/fi/events/7/legs/23/results"}
  -#   %li= link_to "Kuva-albumi", "https://www.flickr.com/photos/131233811@N02/albums/72157681725488720"

  %p
    Kaupin osakilpailun maastona toimivat Näsijärven rantakalliot ja kauniit neulaspolut.

  :markdown
    **Paikka:** Kilpailu kilpaillaan Kaupin urheilupuistossa, osoite: [Kuntokatu 5, Tampere](https://www.google.fi/maps/place/Kaupin+Urheilupuisto/@61.504892,23.8151543,16z/data=!4m2!3m1!1s0x0:0xd5101530e6141b3d)

    **Aika:** Tiistaina 30.4.2019. Lähtö klo 18.00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17.00-17.30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Pysäköinnistä on matkaa kilpailukeskukseen muutamia satoja metrejä.

    **Suihku-, pukeutumis-, ja wc-tilat:** Kilpailijoiden käytössä on Kaupin vanhan huoltorakennuksen suihku-, pukeutumis-, ja wc-tilat.

    ## Reittiselostus

    Kaupin osakilpailun reitti on jälleen uudistettu viime vuodesta ja reitti kulkee suureksi osin eri polkuja kuin Trail Cupin aikaisempina vuosina. Kilpailureitti on 6,6 km pitkä ja nousumetrejä kertyy 95.

    Lähtö tapahtuu osakisaisännän Kauppi Sports Centerin pihasta ja reitti suuntaa Kaupin latupohjille pesäpallostadionin takaa kiertäen. Latupohjia ja leveitä polkuja juostaan ensimmäinen kilometri niin, että kaikki osallistujat ovat asettuneet sopuisasti jonoon. Varsinaiselle metsäpolulle puikataan Kauppi-Niihama ladun ja Taysin vanhan pesulan takana. Vanha pellonpohja ylitetään ja käännytään jyrkästi vasemmalle eli kohti itää. Tätä haastavaa, välille tiheikköihinkin sukeltavaa metsäpolkua jatketaan reilu puoli kilometriä, kunnes reitti kaartaa Niihaman ladun pohjoispuolelle ja kohti Pirunvuorta. Tämä Kaupin Mount Everest kierretään vastapäivään ja vuoren pohjoispuolella voi nähdä vilauksen Näsijärven rantaan paiskautuvista aalloista. Rantamaisemien jälkeen siirrytään latupohjalle, jossa ohittaminen on metsäpolkua hieman helpompaa. Liika vauhti voi pian kuitenkin kostautua, kun reitti lähtee kipuamaan Tuomikallion pohjoispuolella nököttävää mäkeä ylös. Ylängölle päästyään polkujuoksijan kelpaa edetä paikoin kalliostakin alustaa myöten, ennen kuin jatketaan kohti länttä ja annetaan loivan alamäen johdattaa kohti UKK-instituuttia. Ennen UKK:ta reitti kääntyy vasemmalle ja alkaa vauhdikas hiihtolatupohjainen alusta. Futiskenttien luoteiskulmasta reitti kaartuu alikulkuun ja siitä jyrkän vasemman mutkan kautta kiivetään jyrkkä mäki ja jatketaan kohti vesitornia. Sitä ennen kaarretaan kohti maalia ja juostaan kevyen liikenteen siltaa pitkin ja mäki alas kohti futiskenttiä. Tämä reitin loppuosa on varsin vauhdikas ja kelloon voi lyödä perin kovat kilometriajat, jos vielä voimia riittää. Jousiammuntaradan ja säilölumikasan välistä kuljetaan kohti maalia, joka sijaitsee lähdön vieressä Kauppi Sports Centerin vieressä.

    ### Reittikartta ja rataprofiili

    ![Kaupin reittikartta](/images/2019/kauppi_valmis.jpg)
