---
title:     Stage 1, Toivion koulu
bodyclass: newproject
---

%section#main
  %h1 Stage 1, 26.4., Toivion koulu, Pirkkala
  
  / %ul
  /   %li=# #{link_to "Tulokset", "https://events.navigeist.com/fi/events/2/legs/10/results"}
  /   %li=# link_to "Kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157653083917320/"
  
  :markdown
  
  %p
    Ensimmäinen osakilpailu juostaan Pirkkalassa Toivion neitseellisissä maastoissa.
    
  :markdown
  
    **Paikka:** Kilpailu kilpaillaan [Toivion koululla](https://www.google.fi/maps/place/Toivion+Koulu/@61.4517869,23.7217618,17z/data=!3m1!4b1!4m2!3m1!1s0x468ed92d50a7739d:0x9a03977046c8258b)

    **Aika:** Tiistaina 26.4.2016. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti. Parkista on matkaa kilpailukeskukseen muutamia satoja metrejä.
  
  %h2 Reittikuvaus
  
  :markdown
  
    *Tulossa*
  
    ### Reittikartta

    *Tulossa*

    ### Rataprofiili

    *Tulossa*