---
title:     HieroJari-stage, Niihama
bodyclass: newproject
---

%section#main
  %h1 HieroJari-stage, 2.6., Niihama

  %p
    %img{:src => "/images/hierojarilogo.jpg", :style => "width:390px; float: right;"}

  %p
    Cupin neljännessä osakilpailussa pääsemme jälleen Kaupin kansanpuistoon, tällä kertaa sen itäosiin.

  :markdown

    **Paikka:** Kilpailu kilpaillaan Niihaman majalla osoitteessa [Pikku-Niihaman tie 80, Tampere](https://maps.google.fi/maps?q=Pikku-Niihaman+tie+80&ie=UTF-8&hq=&hnear=0x468f20f0e37637e9:0xa22444495e6fcfa2,Pikku-Niihaman+tie+80,+33560+Tampere&gl=fi&ei=iEVhU82xNO3V4QSGnoDYCw&ved=0CCwQ8gEwAA)

    **Aika:** Tiistaina 27.5.2014. Lähtö klo 18:00, ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:30.

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti Pikku-Niihaman tien varteen. Parkista on matkaa kilpailukeskukseen muutamia satoja metrejä. Koska joudumme turvautumaan pääosin tienvarsipysäköintiin, toivomme mahdollisimman monen saapuvan paikalle pyörällä tai kimppakyydeillä.

    **Suihku-, pukeutumis-, ja wc-tilat:** Kilpailijoiden käytössä on Niihaman majan sauna-, pukeutumis- ja wc-tilat. Tiloja on erittäin rajoitetusti.

    **Kahvio**: Niihaman majan kahvio palvelee osanottajia kilpailukeskuksessa.