---
title:     Mikon leipä -stage, Niihama
bodyclass: newproject
---

%section#main
  %h1 Mikon leipä -stage, 27.5., Niihama
  
  %p
    Cupin neljännessä osakilpailussa pääsemme jälleen Kaupin kansanpuistoon, tällä kertaa sen itäosiin.
    
  :markdown
    
    ## Reittikuvaus
    
    Kilpailureitti on todella nopea. Reitillä on pituutta 6,0km josta 1,0km on hyvää ulkoilureittiä tai soratietä. Nousua reitillä kertyy vain 58m, josta suurin korkeusero nähdään heti alkukiihdytyksessä pururadalla.

    Lähtö tapahtuu Niihaman majan vierestä, josta lähdetään juoksemaan kohti Kauppia. Ensimmäiset 300m juostaan ulkoilureittiä pitkin, jonka aikana kannattaa ottaa hyvät asetelmat ennen maastoon siirtymistä. Maaston puolella ylämäki jatkuu vielä loivempana. Alkunousun jälkeen on lyhyt alamäki, jonka aikana voi ravistella ylämäessä tulleet maitohapot pois jaloista. Tämän jälkeen seuraava 1,5km on tasaista polkujuoksua. 

    Polkupätkän jälkeen koittaa n. 750m pitkä tiepätkä, jossa pääsee vähän revittelemään vauhdin kanssa. Tieltä maastoon siirtyessä alkaa loiva ylämäki, joka käy aivan Soukonvuoren huipulla. Tämä maastopätkä on todella vaativaa juostavaa, jopa suunnistajille, sillä poluilla on paljon kiviä ja juurakoita. Soukonvuorelta poistuttaessa koittaa lyhyt tieosuus, jonka jälkeen maaliin on matkaa enään 1km. Tällä 300 metrin tieosuudella kannattaa siis pistää kaikki peliin jos vähänkään epäilee omia loppukirikykyjään. 

    Viimeinen kilometri juostaan hyvä- ja nopeakulkuisella polulla Niihamajärven ympäri. Loppusuora aukeaa, kun havaitsee Niihaman majan punaisen saunarakennuksen, jonne pääsee suorituksen jälkeen saunomaan!
    
    ### Reittikartta
    
    ![Niihaman reittikartta](/images/niihaman-maja-reittikartta-small.png)
    
    ### Rataprofiili
    
    ![Niihaman korkeusprofiili](/images/korkeusprofiilit-niihama.png)
    