---
title:     Mikon leipä -stage, Niihama
bodyclass: newproject
---

%section#main
  %h1 Mikon leipä -stage, 27.5., Niihama
  
  %p
    Cupin neljännessä osakilpailussa pääsemme jälleen Kaupin kansanpuistoon, tällä kertaa sen itäosiin.