---
title:     Mikon leipä -stage, Niihama – Inov-8 Tampere Trail Cup
bodyclass: newproject
---

%section#main
  %h1 Mikon leipä -stage, 27.5., Niihama
  
  %p
    Cupin neljännessä osakilpailussa pääsemme jälleen Kaupin kansanpuistoon, tällä kertaa sen itäosiin.