---
title:     Yleisinfo
bodyclass: newproject
layout: layout-2017
---

%section#main
  %h1 Inov-8 trail cup 2017 – ohjeet

  :markdown

    **HUOM! Alustavat ohjeet, päivittyvät kevään edetessä.**

    **_Kaikki tapahtumiin osallistuvat sitoutuvat ilmoittautuessaan noudattamaan näitä ohjeita ja sääntöjä. Juoksusarjan vastuullisena järjestäjänä on Tampereen Pyrinnön suunnistusjaosto._**

    ### Säännöt

    Polkujuoksukilpailun tarkoituksena on juosta maastoon merkittyä reittiä
    pitkin. Vahingossa reitiltä poistuneen osanottajan on palattava reitille
    siihen kohtaan, mistä poistui. Järjestäjillä on oikeus hylätä suoritus, jos
    osanottajan havaitaan oikaisevan reitiltä tai hän muutoin häiritsee
    kanssakilpailijoiden suoritusta.

    ### Sarjat

    Miehet, naiset ja kunto. Lisäksi kokonaiskisassa on tarjolla yrityksille ja muille joukkueille suunnattu Tampereen ketterimmät -kilpailu.

    ### Osanottomaksut

    Yksittäisen osakilpailun osanottomaksu on etukäteen ilmoittauduttaessa 10
    euroa (paikan päällä 12 euroa) ja koko sarjan 45 euroa. Koko sarjan
    osanottomaksu on 40 euroa Juoksija-kortilla sekä Tampereen Pyrinnön ja
    KeparDIn jäsenkorteilla.

    Osanoton voi maksaa ennakkoilmoittautumisen yhteydessä Tampereen Pyrinnön
    tilille FI65 5730 0820 2114 86 (BIC: OKOYFIHH). Käytä ilmoittautumisesi mukana saamaasi
    viitettä tai laita viestikenttään oma
    nimesi. Kilpailupaikalla maksettaessa maksuvälineenä käyvät seuraavat:


    * Käteinen (emme hyväksy yli 50 euron seteleitä)
    * Liikuntaseteli (Smartum Oy)
    * Kulttuuriseteli (Smartum Oy)
    * TYKY-Kuntoseteli (RJ-Kuntoiluseteli Oy)
    * Virikeseteli (Luottokunta)
    * Smartum saldo -verkkomaksu*
    * Tyky-Online -verkkomaksu*

    *) Palveluntuottajaksi on valittava Tampereen Pyrintö suunnistusjaosto, jolle suoritetaan vapaa maksu.

    ### Toiminta tapahtumapaikalla

    Osanottajien suositellaan saapuvan kilpailupaikalle hyvissä ajoin. Tällöin
    aikaa jää ilmoittautumiselle, kilpailunumeron hakemiselle ja
    alkuverryttelylle. Tapahtumapaikalla ilmoittautuminen on mahdollista kello
    17:00–17:30.


    Kaikki sarjat lähtevät matkaan samassa yhteislähdössä kello 18.00.

    Niin yksittäisen osakilpailun kuin koko sarjan ilmoittautuminen on
    henkilökohtainen eikä se ole siirrettävissä toiselle henkilölle.

    ### Kilpailunumerot

    Kaikki kilpailijat käyttävät kilpailunumeroa. Kilpailunumero on henkilökohtainen ja sama koko sarjan ajan. Numerot kerätään maalissa viimeistä osakilpailua lukuunottamatta ja ovat odottamassa jälleen seuraavan osakilpailun kisakeskuksessa. Jos tiedät osallistuvasi vain yhteen osakilpailuun, mainitse siitä maalissa niin saat pitää numerosi.

    ### Valo- ja videokuvaus

    Osakilpailuissa kuvataan sekä valokuva- että videomateriaalia. Ilmoittautumalla kisaan hyväksyt, että sinusta otettua materiaalia voidaan jatkossa käyttää kilpailun sivuilla ja markkinoinnissa. Materiaalia ei myydä tai muuten luovuteta eteenpäin.

    ### Vastuu

    Osanottajia ei ole vakuutettu järjestäjän toimesta. Jokainen osanottaja kilpailee omalla vastuullaan.


    ### Reitit

    Kilpailureitit ovat pituudeltaan 5-7 kilometriä, ja kulkevat pääosin poluilla. Kilpailujen alku- ja loppuvaiheessa on usein enemmän tasaisempaa ulkoilureittiä.

    ### Palkinnot

    Joka osakisassa palkitaan sekä naisten että miesten sarjojen kolme parasta. Lisäksi kaikkien osanottajien (ml. kuntosarja) kesken arvotaan arvontapalkintoja.

    Kokonaiskisassa palkitaan molempien kilpasarjojen viisi parasta yhteispisteiden perusteella (kts. kohta [Pistelasku](#pistelasku)).

    ### Pistelasku

    Kilpailijan yksittäisestä osakilpailusta saamat pisteet lasketaan seuraavan kaavan perusteella:

    `voittajan aika / oma aika * 1000`

    Näin joka kisan voittaja saa aina tuhat pistettä.

    Kokonaiskisaan lasketaan mukaan osanottajan *neljät parhaat pisteet*.

    ### Tampereen ketterimmät -kisan erityisohjeet

    Tampereen ketterimmät -kilpailuun osallistuminen on yrityksille ja muille joukkueille ilmaista. Joukkueeseen voi kuulua rajaton määrä osanottajia. Osanottajan tulee olla edustamansa yrityksen tai yhteisön palveluksessa, mutta myös muut vapaamuotoiset joukkueet voivat osallistua. Tampereen ketterimmät -kilpailuun ilmoittaudutaan normaalin ilmoittautumisen yhteydessä, joko ennakkoilmoittautumalla tai tapahtumapaikalla.

    Joka osakisan pistelaskennassa otetaan huomioon joukkueen kolmen parhaan kilpailijan henkilökohtaisessa kisassa saavuttamat pisteet. Kokonaiskisassa lasketaan yhteen joukkueen jokaisessa osakisassa saavuttamat pisteet.
