---
title:     Inov-8 Tampere Trail Cup
bodyclass: newproject
---

%section#main
  .intro
    :markdown
      ## Kun asfaltti ei riitä…
    
  #description
    :markdown
      Inov-8 trail cup on viisiosainen polkujuoksusarja, joka juostaan viitenä peräkkäisenä viikkona toukokuusta kesäkuun alkupuolelle 2014 eri puolilla Tamperetta. Kilpailu juostaan yhteislähdöllä ja pääasiassa poluilla 5-10 km reiteillä. Tapahtuma on avoin kaikenikäisille ja –kuntoisille liikkujille. Trail cup esittelee osallistujilleen Tampereen parhaita polkujuoksumaastoja tarjoten samalla mahdollisuuden itsensä haastamiseen viikottain monipuolisilla reiteillä. Kokonaiskilpailun lisäksi nopeimmat ja onnekkaimmat juoksijat palkitaan jokaisessa osakilpailussa.

  #schedule
    :markdown
      ## Paikat ja ajat

      * Ti 6.5. klo 18 Lamminpään maja
      * Ti 13.5. klo 18 Kaupin urheilupuisto
      * Ti 20.5. klo 18 Hervannan laskettelukeskus
      * Ti 27.5. klo 18 Niihaman maja
      * Ti 3.6. klo 18 Suolijärven maja

  #details
    :markdown
      ## Lisätiedot

      Severi Kymäläinen, severi21@suomi24.fi, 050-4646122

      ## Nähdään keväällä Tampereen poluilla!