---
title:     Polkujuoksukoulu
bodyclass: newproject
layout: layout-2018
---

%section#main
  %h1 Inov-8 Trail Cup Polkujuoksukoulu

  :markdown

    > ”Juoksuun lisää kestävyyttä,  enemmän tehoa ja voimaa sekä parempi tekniikka”

    Polkujuoksukoulu valmistaa sinut loistavasti Inov-8 Trail Cupin osakilpailuita sekä muita kevään juoksutapahtumia varten. Juoksukoulu soveltuu kaikille juoksun sekä muidenkin kestävyyslajien harjoittelusta kiinnostuneille.

    Juoksukoulu sisältää mm:

    * Teskun aerobisen peruskuntotestin, jossa määritellään mm. tarkat sykerajasi (testi ei ole pakollinen osallistuakseen juoksukouluun).
    * Kattava palauteluento testistä
    *  Yhteisharjoitukset kerran viikossa joissa keskitytään mm. juoksutekniikkaan, tehoharjoituksiin, juoksijan voimaharjoitteluun...
    * Tehokkaan ja monipuolisen treeniohjelman polkujuoksukoulun ajaksi.
    Juoksukoulu toteutetaan kahdessa tasoryhmässä:
      * Kuntoilijaryhmä (aloittelevat polkujuoksijat, juoksukunto 10km 1h+)
      * Kuntoilija Pro -ryhmä (kokeneet kuntoilijat, minimivaatimustaso 10km alle 55min)

    Polkujuoksukoulu alkaa viikolla 9 aerobisella peruskuntotestillä ja jatkuu seuraavilla viikoilla yhteistreenien parissa.

    * Hinta testin kanssa	220€
    * Hinta ilman testiä	145€

    Huom. Testin normaalihinta 95€, polkujuoksukoulun yhteydessä vain 75€


    Polkujuoksukoulun valmennuksesta vastaa Ville Siukkola

    * [Lisätietoja](http://www.vs-training.fi/polkujuoksukoulu-k2016/)
    * [Ilmoittautuminen](http://goo.gl/forms/Whu7ajMP4B)

    Ilmoittautumiset:<br>
    ville@vs-training.fi<br>
    0415449863

