---
title:     Lamminpää
bodyclass: newproject
layout: layout-2017
---

%section#main
  %h1 Stage 1, 2.5., Lamminpää

  / %ul
  /   %li== #{link_to "Tulokset", "https://events.navigeist.com/fi/events/2/legs/8/results"}
  /   %li= link_to "Kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157650369473734"

/  :markdown
/    <iframe width="560" height="315" src="https://www.youtube.com/embed/gtCiWm74KTs" frameborder="0" allowfullscreen></iframe>

  / %p
  /   %a{href: "http://www.hippa.fi"}
  /     %img{src: "/images/hippa_perheliikuntakeskus_logo_nega.png", width: 351}

  :markdown
    Vuoden 2017 Inov-8 Trail Cupin ensimmäinen osakilpailu juostaan Tampereen länsikolkassa, paikassa, jossa on totuttu kavioiden kopseeseen. Lamminpään harjumaasto hivelee silmiä ja maastopohja on miellyttävää hiekkaa, mutta jyrkät nousut kaivavat helposti verenmaun kovimmankin kisailijan suuhun. Ilmaisena bonuksena juoksijat saavat komeat näköalat niin pohjoiseen kuin etelään.

    <!-- Lamminpäässä myös perheen pienimmät pääsevät kisaamaan, kun kaikille alle 12-vuotiaille (2004 tai myöhemmin syntyneet) on tarjolla noin kilometrin mittainen rata ennen isojen kisaa. Kaikki osanottajat palkitaan [Perheliikuntakeskus Hipan](http://hippa.fi) vapaalipulla. Lasten kisan osanottomaksu on 2 euroa. -->

  :markdown

    **Paikka:** Kilpailukeskus sijaitsee Lamminpään hiihtomajalla osoitteessa [Velodromintie 45, Tampere](https://www.google.com/maps/place/Velodromintie+45/@61.5270501,23.6290068,17z/data=!3m1!4b1!4m2!3m1!1s0x468ed807afff895d:0xccf447b935ad879e)

    <!-- **Aika:** Tiistaina 3.5.2016. Lähdöt klo 17:30 (lasten sarjat) ja klo 18:00 (kaikki muut), ilmoittautuminen ja kilpailumateriaalin nouto klo 17:00-17:20. -->

    **Pysäköinti:** Autot pysäköidään pysäköintiohjauksen mukaisesti majan alaparkkipaikalle. Pysäköinnistä on matkaa kilpailukeskukseen muutamia satoja porrasaskelmia.

    **Suihku-, pukeutumis-, ja wc-tilat:** Kilpailijoiden käytössä on Lamminpään majan pesu-, pukeutumis- ja wc-tilat.

    ### Reittikuvaus

    Kilpailureitti on 6,0 km pitkä ja kulkee Lamminpään harjumaisemissa. Reitistä 1,0 km on hyväpohjaista pururataa pitkin ja loput 5,0 km vaihtelevapohjaisia polkuja. Reitillä nousua kertyy yhteensä 132 m.

    Kilpailun lähtö tapahtuu Lamminpään majan vieressä olevalta aukealta. Reitin ensimmäiset 750 m taivalletaan nopeaa hyväpohjaista ulkoilureittiä pitkin. Tällä pätkällä ensin laskeudutaan harjun pohjoispuolelle ja noustaan takasin ylös. Tämän pätkän tarkoituksena on saada porukka siistiin jonoon ennen kuin siirrytään poluille jossa ohitusmahdollisuudet ovat huomattavasti rajallisemmat.

    Siirtymä ulkoilureitiltä polulle tapahtuu asteittain, pururadan pienentyessä vähittäin poluksi laskeuduttaessa alas harjun eteläpuolella olevaan notkomuodostelmaan. Notkon pohjalla oleva polku on kulkukelpoisuudeltaan hieman heikohkoa juurakkoineen ja kaatuneine puineen joista yhden alituksessa täytynee hieman varoa päätään. Notkon pohjalta noustaan lopulta leveää uraa ylös, ylitetään pururata ja laskeudutaan harjun pohjoispuolen polulle. Tämä polku on alkuun varsin hyväpohjaista mutta muuttuu lopulta erittäin kivikkoiseksi ja pahimmissa kohdissa kannattanee varoa nilkkojaan.

    Kun pohjoispuolta on raastettu tarpeeksi, kiivetään jälleen harjun yli eteläpuolelle jossa polku muuttuu hyväpohjaiseksi ja saavutaan reitin puoliväliin vanhan sorakuopan reunoille. Tästä jatketaan harjun eteläpuolen tasaisia polkuja pitkin, lopulta laskeutuen alas laskettelurinteen alla olevaan suppaan, missä on myös reitille kaatunut puu mikä pitää alittaa hieman kumartuen. Tämä pätkä on varmasti koko retin nopein, polkujen ollessa hyväpohjaisia ja tasaisia, lukuun ottamatta muutamia pieniä nousuja.

    Laskettelurinteen pohjalla olevan lammen vierestä lähteen viimeinen 500 metrin puristus, jossa juoksijat saavat kivuta harjun ylös koko korkeudeltaan, minkä jälkeen on enää lyhyt pätkä harjun päällä ennen kuin saavutaan maaliin Lamminpään majalle. Tämä viimeinen nousu tulee takulla olemaan ratkaisun paikka ja siinä voi syntyä suuriakin eroja.

    ### Reittikartta

    ![Lamminpään reittikartta](/images/2016/lamminpaa-reittikartta-2016-web.jpg)

    ### Rataprofiili

    ![Lamminpään korkeusprofiili](/images/2016/lamminpaa-korkeusprofiili-2016.jpg)
